[2016-12-21 09:58] joelibaceta opened #1 "Configuración de SDK"
Crear un objeto que administre la configuración para la librería (Credenciales, URL Base) , esta debe ser accesible en cualquier momento durante el ciclo de vida de la aplicación, las credenciales deben poder ser refrescadas en caso sea necesario.

Las formas de configuración deben ser :

- [ ]  Atributo por Atributo.
- [ ]  Un Mapa o Hash de valores

Las características configurables pueden ser:

[2016-12-21 10:00] joelibaceta opened #2 "Pre compilacion"
¿ Seria mejor escribir código bajo el estándar ECMAScript 6 (http://es6-features.org/) con el fin de tener código mas claro y representativo (Objetos y Clases) para el mantenimiento del SDK ? y disponer del sdk para su uso mediante un proceso de pre-compilacion, A ES 5 ?

[2016-12-21 15:43] arielfr opened #3 "¿Callbacks o Promises?"
Tenemos disponibles 2 caminos para elegir. Conocidas SDKs como Elasticsearch, Redis y PostgreSQL usan callbacks.

En cuanto al uso de callbacks, estos nos permiten que luego los implementadores puedan usar la SDK mediante callbacks o usar Promises mediante librerias como Bluebird o es6-promisify. Esta última es la más usada (Bluebird) ya que implementa callbacks de manera mas performante y rápida

[2016-12-21 18:38] arielfr opened #4 "Arquitectura"
En cuanto a la Arquitectura de la aplicación, estuve pensando la mejor manera de hacerla **descriptiva y fácil de mantener**. Se me ocurrio el siguiente modelo.

Lo primero sería crear un objeto cliente (core - base) y este va a contener a todas las "clases descriptivas" (como lo llama el PDF). Ejemplo:

[code]

Avanzando con las clases descriptivas, se me ocurrio realizarlas de la siguiente maner

[2016-12-22 20:42] arielfr opened #5 "Versión NodeJS - Compatibilidad"
Luego de una charla con Guille, pudimos definir que hay un denominador común en todos los issues. Este es, que versión de NodeJS vamos a sorpotar. Según la versión LTS (o no) que elijamos de NodeJS, podemos inferir si vamos a usar ES6 o ES2015.

Creemos que si vamos a partir de una versión de NodeJS alta, como por ejemplo 6.9.2 (LTS), deberíamos realizarla en ES6, ya que en esa version esta soport

[2017-01-09 16:00] arielfr opened #8 "Crear Herramienta para el Formato de fechas"
Se deberá crear una clase de utilidad (Date) que permita la creación y el parseo de una fecha. De esta manera el integrador podrá utilizar campos como "expire_in" que actualmente no se usan por la complejidad de generar una fecha en el formato ISO 8601.

Librerias a Implementar:
* moment

[2017-01-09 16:41] joelibaceta opened #10 "Travis CI"
Se propone crear el archivo travis.yml para la automatizacion de corrida de test durante el pull requests y simplificar la tarea al revisor.

[2017-01-09 18:19] arielfr opened #12 "Validación: Parametros Extra"
Cuando se envíen parametros extra en el schema, no debe bloquearse la aplicación, pero debera mostrarse un "warning" por consola.

Ejemplo:
Si este es el schema payment:
[code]

y se envía:
[code]

Deberá salir un warning por consola que diga que **rates** no es una propiedad valida

[2017-01-09 23:55] #10 closed, assigned to nobody

[2017-01-10 13:13] joelibaceta opened #14 "Describir Clases F1 y F3"
Permitir que una clase puede contener información sobre la estructura del recurso REST que representa, atributos de request, tipos de datos y opciones (solo lectura, clave primaria, atributo de idempotencia, valores por defecto, valores permitidos, longitud máxima, atributos requeridos)

- [x]  Preference
  - [x]  Payer
  - [x]  Item
  - [x]  Shipment
- [x]  Payment
- [x]  MerchantOrder
- [x]  Cus

[2017-01-10 13:15] joelibaceta opened #15 "Permitir procesar IPN's en un único paso."
Cuando se recibe un IPN, este contiene un id y un descriptor del tipo de respuesta, esto debe ser interpretado y deben devolverse los objetos que representan esta respuesta ( un payment o un marchant order ) para poder explorar su contenido de forma mas intuitiva.

Ejemplo de código resultante :

`var object = IPN.manage(request)`

donde object puede ser o un payment o un merchant_order

[2017-01-10 13:17] joelibaceta opened #16 "Abstraer los headers para Idempotencia"
Para la logica de idempotencia es necesario generar un código único de identificador enviado como parámetro del header de idempotencia, en los request del modelo (POST, GET, PUT ...).

El algoritmo de generación de códigos de idempotencia debe ser un algoritmo de hashing conocido que genere un no muy largo identificador, pero este debe ser configurable o en caso el usuario defina un identificador

[2017-01-11 18:37] joelibaceta opened #21 "Caching de Requests"
Todos los request GET deberían de contar con un flag de cache el cual permita evitar una llamada innecesaria al end-point y consultar localmente el resultado.

**Idea de implementacion:**

Guardar en una colección de request cacheados identificados por un hash que represente la url + headers + body, para buscar retornar este valor antes de realizar el request final en caso exista (Esto solo cuando

[2017-01-12 17:39] arielfr opened #23 "Agregar Backward Compatiblity"
Agregar los metodos de la "sdk-nodejs" previamente realizada:
 - sandboxMode
 - getAccessToken
 - get, post, put, delete (reveer)
 - createPreference
 - updatePreference
 - getPreference
 - createPreapprovalPayment
 - updatePreapprovalPayment
 - getPreapprovalPayment
 - searchPayment
 - getPayment
 - getAuthorizedPayment
 - refundPayment
 - cancelPayment
 - cancelPreapprovalPayment
 - version

Agr

[2017-01-16 16:32] arielfr opened #25 "MercadoPago Connect"
Agregar modulo de connect que permita
- Envíar el authoriszation_code a la URI que se especifique
- Obtener access_token segun el authorization_code + access_token + redirect_uri

https://www.mercadopago.com.ar/developers/es/solutions/payments/custom-checkout/mercadopago-connect/

[2017-01-16 20:54] arielfr opened #27 "Páginación automatica"
En el search, agregar un metodo a la respuesta llamado **next** que permita traer la proxima página.

¿Para el search vamos a hacer un metodo mas custom?. Ya que el este ya existe:

[code]

Pero si queres realizar una busqueda es

[code]

Queres que le haga un wrapper, asi es mas "entendible" y accesible al usuario?. Como estos:

[code]

[2017-01-17 16:44] arielfr opened #28 "Agregar ESLint"
- Agregar EsLint file
- Agregar .eslintrc file
- Agregar dependencia de AirBnB
- Corregir todos los JS con el formato de AirBnB

[2017-01-18 18:57] #1 closed, assigned to hdlopez, arielfr

[2017-01-18 18:57] #2 closed, assigned to hdlopez

[2017-01-18 18:57] #3 closed, assigned to joelibaceta, hdlopez

[2017-01-18 18:57] #4 closed, assigned to joelibaceta, hdlopez

[2017-01-18 18:57] #5 closed, assigned to joelibaceta

[2017-01-18 18:57] #8 closed, assigned to arielfr

[2017-01-18 18:57] #12 closed, assigned to arielfr

[2017-01-18 18:57] #14 closed, assigned to arielfr

[2017-01-18 18:57] #15 closed, assigned to nobody

[2017-01-18 18:57] #16 closed, assigned to nobody

[2017-01-18 18:57] #23 closed, assigned to joelibaceta

[2017-01-18 18:57] #25 closed, assigned to nobody

[2017-01-18 18:57] #28 closed, assigned to nobody

[2017-01-18 18:58] arielfr opened #33 "Payment: Cancelación y Refund"
- Implementar v0 -> /collections (oculta)
- Crear metodos para cancel, refund y refund partial

[2017-01-18 19:43] arielfr opened #35 "Money Request: Implementar Resource"
- Implementar resource de money_requests

[2017-01-18 19:44] arielfr opened #36 "Subscripciones"
Implementar subscripciones

[2017-01-19 15:54] #21 closed, assigned to nobody

[2017-01-19 15:54] #27 closed, assigned to joelibaceta, arielfr

[2017-01-20 15:45] #33 closed, assigned to joelibaceta, arielfr

[2017-01-20 15:45] #35 closed, assigned to nobody

[2017-01-20 15:45] #36 closed, assigned to nobody

[2017-01-23 15:03] arielfr opened #39 "Paginación: Agregar prev() para volver a la página anterior."
Aparte del next() agregar prev() y hasPrev()

[2017-01-23 15:36] arielfr opened #41 "Error: Agregar retry()"
Cuando suceda un error durante el request, se podrá llamar a un metodo retry() en la respuesta, y el request se repetira.

[2017-01-24 13:50] #41 closed, assigned to nobody

[2017-01-24 13:50] #39 closed, assigned to nobody

[2017-01-26 19:24] arielfr opened #51 "Refactor: Adding precondition"
- Add precondition module to check if the callback is set. If not, return a noop function. If the callback is set return the same callback.

[2017-01-26 19:30] #51 closed

[2017-01-27 02:22] arielfr opened #54 "Fixing Bugs: Backward Compatiblity"
Se detectaron los siguientes errores al realizar un backward compatiblity:

- No existe el repsonse en el mercadopagoResponse.
- No se puede realizar 2 veces new, ya que configurations tira un error porque ya esta configurada la aplicación
- Existe un bug con la creación de los metodos en el prototype

[2017-01-27 02:28] #54 closed

[2017-01-27 16:11] arielfr opened #57 "Bug Fixing + Old Examples"
Correr ejemplos viejos. Capturar errores y mover los viejos examples a la version nueva los ejemplos.

Agregar una README.MD para los ejemplos y documentar como probar.

[2017-01-27 19:35] #57 closed

[2017-02-18 22:05] guidotajan opened #63 "Creating payment with customers."
The ID of every customer is a String value. This causes an error everytime someone tries to make a payment with customers because the field "payer.id" requieres an Integer. Although if you put that String in the same field and send the request manually via a HTTP REST client, the payment is processed perfectly.

The error recibed is this one:
`Error: The next fields are failing n validation: ".pay

[2017-02-20 18:21] arielfr commented on #63
Thanks @guidotajan , the problem is solved. This package is in beta yet, but, use it!, this is the most updated SDK for NodeJS.

If you are using this dependency referencing the Repository on the package.json remove the node_modules/mercadopago and do a "npm i" again.

The NodeJS SDK validates the JSON before sending it, that's was the issue. If you encounter any problem like this, please, open an

[2017-02-20 18:21] #63 closed

[2017-05-22 16:16] Rart3001 opened #71 "TypeError: this.exec is not a function"
I am trying to execute the following code:

[code]

But it always gives me the same error:

[code]

[2017-05-29 17:31] #71 closed

[2017-05-29 17:37] arielfr commented on #71
@Rart3001 Thanks for the report, sorry for the delay. Bug Fixed. Can you please update npm dependency and check again?

[2017-09-19 13:00] AAhrit opened #73 "Usando AJAX request para enviar el formulario [CLIENTE SDK]"
Hola, hay alguna posibilidad de enviar el formulario del lado del cliente a los servidores mediante ajax? es que estoy haciendo una aplicacion web de una sola pagina y no quisiera refrescar la pagina para enviar esos datos de la tarjeta del usuario.

[2017-09-19 13:26] arielfr commented on #73
Existen implementaciones de MercadoPago client side. Podes usar una que es la de redirect, que pones un botón de pago y este lleva a MercadoPago y una vez realizado el pago vuelve a tu página. Sino podes implementar un modal.

Igualmente, te cuento, que esta es una implementación de la API de MercadoPago, podes usarla para hacer pagos del lado server o hacer un checkout customizado y hacer todo el

[2017-09-19 13:26] #73 closed

[2017-09-19 13:34] AAhrit commented on #73
es que el boton es muy limitativo, y si estoy utilizando el client sdk para tokenizar solo que no quisiera que la pagina se refresque cuando envie el token al servidor ya que para eso voy a utilizar fetch

[2017-09-19 13:44] arielfr commented on #73
Si, podes enviar por AJAX el token a tu servidor tranquilamente.

[2017-10-09 12:27] lainz opened #74 "Sandbox no funciona"
Hola, con el siguiente código puedo llegar a la página de pago, pero cuando intento realizar el pago me rechazan la tarjeta, y estoy usando la que ustedes proveen en el sitio sandbox. Intenté cambiando el mail por uno real pero llego siempre al mismo error (imagen adjunta). Tengo configurado correctamente client id y client secret, en este caso los removí para mostrarles el código.

[code]

![sand

[2017-10-09 13:58] arielfr commented on #74
Buenas, ya te respondí aca: https://github.com/mercadopago/sdk-nodejs/issues/30

[2017-10-09 13:58] #74 closed

[2017-12-13 07:56] mQserv opened #76 "Send items from JavaScript to Node.JS"
Hello folks,
I've been struggling with the custom-checkout, and this px-nodejs SDK.

See, I have a shopping cart (all made by myself).
And a button "Comprar".

In the button, it shows a modal with the form of MercadoPago to submit the card's data;
but how can I make the payment?

Through AJAX?

I checked out all the examples and none of them answers my question.
And the documentation here seems pr

[2017-12-13 08:00] matikbird commented on #76
─And yes, I check out this URL: [https://www.mercadopago.com.ar/developers/es/solutions/payments/custom-checkout/charge-with-creditcard/javascript/](https://www.mercadopago.com.ar/developers/es/solutions/payments/custom-checkout/charge-with-creditcard/javascript/)

But that is for the other repo. I want to use this, since it includes one of my libraries: Bluebird.

Based on your answers, I'll upda

[2017-12-28 14:22] miguelalche opened #77 "I'll be using this repo for a production service, will that be ok?"
Hello!

I wanted to know if using this repo will work fine in production.

The thing is I want the Connect functionality which I don't know if the other repo
https://github.com/mercadopago/sdk-nodejs supports

Thanks!

[2018-01-29 05:09] rggdev opened #78 "dx-nodejs o sdk-nodejs?"
Buenas, estoy implementando con esta version (dx-nodejs), pero no estoy seguro si la podre usar para ir a produccion, ya que en [Sandbox/Checkout Basico] me da error luego de obtener las preferencias de pago.

Desde ya muchas gracias.
Saludos,
Roberto.

[2018-02-02 20:23] joelibaceta commented on #78
Hola Roberto, la version dx-nodejs es la nueva sdk official, podrias indicar mas detalle sobre el error con la obtención de preferencias para confirmar si es un issue o bug en este sdk.

[2018-02-02 21:00] arielfr commented on #76
Hi @mQserv

As far as i read the repository. The [script](https://github.com/mQserv/mercadopago-payment-form/blob/master/js/mp-handler.js) implements the Javascript SDK. This library only gives you the identification types ann **tokenize** the credit_card data. Consider this as a helper to make your checkout page. Then, when you execute the method `sdkResponseHandler ` on the token generator (on t

[2018-02-02 21:00] #76 closed

[2018-02-03 05:13] rggdev commented on #78
Hola Joel, como les comentaba estoy trabajando con el sdk nuevo(dx-nodejs), al dia de la fecha tengo un feedback y 2 consultas.

El feedback es para la documentacion (Wiki) del IPN (https://github.com/mercadopago/dx-nodejs/wiki/IPN-Notifications), donde dice:
mercadopago.ipn.manager(request).then(function (response) {...
debe decir:
mercadopago.ipn.manage(request).then(function (response) {...

Po

[2018-02-07 04:58] guillote22 opened #79 "Mercado pago no procesa los pagos utilizando el basic checkout (Tuvimos un problema, intenta nuevamente)"
Cada vez que presiono el boton "Confirmar Pago" en el Sandbox, aparece un mensaje que dice "Tuvimos un problema, intenta nuevamente".

He seguido los siguientes pasos:

1)Instalé la última versión del dx-nodejs de mercado pago.
2)Creé dos usuarios de prueba.
3)Utilicé mercadopago.configure({sandbox: true, access_token: 'ACCESS_TOKEN_DE_USUARIO_DE_PRUEBA_MODO_PRODUCCION'})
Antes de seguir, cabe acl

[2018-02-07 18:13] KevinTemes commented on #79
Me sumo a la consulta. Estoy teniendo exactamente el mismo problema al queres testear una api de cobros. Hice la prueba generando varios usuarios de prueba pero siempre surge este mismo error al querer confirmar el pago

[2018-02-07 18:57] guillote22 commented on #79
El problema es más generalizado aún.
He intentado en modo producción con dos usuarios de prueba y me da el mismo error. Por último, intenté con mis datos reales, luego de haber comenzado los 30 días de prueba como vendedor, o sea pasando mi cuenta a vendedor, y no logro realizar una compra real con otro usuario anónimo. Me sigue apareciendo el mismo error.
Hasta el checkout funciona todo bien, apa

[2018-02-08 02:58] guillote22 commented on #78
Hola Roberto! Yo tuve el mismo problema y lo resolví utilizando 2 usuarios de prueba, uno como vendedor y otro como comprador. Con lo cual, en "client_id" y "client_secret" deberías utilizar las credenciales del usuario de prueba vendedor. No sé si te es útil esta información. Espero que sí. Saludos!
Guillermo.

[2018-02-08 15:17] guillote22 commented on #79
Al parecer el problema se debía a un token que estaba agregando a la "notification_url".   Si lo agrego como parámetro o como query string, la API deja de funcionar...

[2018-02-08 15:18] #79 closed

[2018-02-08 20:40] IsaacMiguel opened #80 "notificaciones ipn - params(topic/type - id/data.id)"
Hola, les escribo consultando por el problema que estoy teniendo de que mas alla de funcionarme todo bien, tengo problemas en el backend de que mercadopago pega a ipn con distintos parametros.
Mi duda es si es porque pega con distintos parametros al tener distintos sdks en funcionamiento, o porque corresponden a distintas busquedas y debo agregar otros comportamientos...

mi idea seria un
const ty

[2018-02-09 15:17] rggdev commented on #78
![mperror-sandboxmode](https://user-images.githubusercontent.com/28788796/36034553-36c49c4c-0d93-11e8-80be-59e632d7f11f.png)

![mpcheckout-errusers2](https://user-images.githubusercontent.com/28788796/36034542-2a8bb1c2-0d93-11e8-99e2-5238140ebcd0.png)
Hola Guillermo, gracias por responder, efectivamente el usuario asociado a la app, no era vendedor, asi que active esa cuenta como vendedor(cuentaVe

[2018-02-09 15:26] joelibaceta commented on #80
Te dejo el mail de soporte para desarrolladores, developers@mercadopago.com
Y respondo brevemente tu consulta, esta diferencia en las notificaciones corresponden a dos entidades distintas:
- topic/type = Notificaciones IPN
- id/data.id = Webhooks

[2018-02-09 15:26] #80 closed

[2018-02-09 15:28] joelibaceta commented on #78
Gracias @rggdev  por el feedback, tomamos nota y lo estaremos actualizando en la documentación.

[2018-02-09 15:33] #78 closed

[2018-02-09 18:37] guillote22 commented on #78
Hola Roberto! Te cuento como logré que funcione utilizando como modelo el código que subiste.
Primero, no uses el sandbox porque leí que no está funcionando. En la misma documentación propone como alternativa trabajar en modo producción con usuarios y tarjetas de prueba.
Lo que yo hice fue crear 2 usuarios de prueba, como dije antes, uno asociado a la app y otro como comprador. AMBOS SON DE PRUEBA

[2018-02-12 19:07] rggdev commented on #78
Hola Guillermo, efectivamente ese era el error, estoy probando con ambos usuarios "TEST" en modo "Sandbox" y puedo cumplir el ciclo de compra completo.

Ahora estoy con el IPN ya que me sigue devolviendo 403.

Saludos y muchas gracias,
Roberto.

[2018-02-14 17:19] guillote22 commented on #78
Hola Roberto! Me alegro que puedas cumplir el ciclo de pago. Estuve viendo de nuevo tu código. En la ruta POST "/webhook", vi que tenes definida las variables IpnTopic e IpnId:
`var IpnTopic=req.params.topic;
  var IpnId=req.params.id;`

Sin embargo, en la captura del error 403 que enviaste, no se ve que hayan route parameters sino query strings. Con lo cual, creeria que "req.params.topic" y "req.

[2018-02-16 18:03] edmon1024 opened #81 "Error en búsqueda de customer"
Que tal, tengo unos problemas que me sucedieron al realizar una búsqueda de un customer, al buscar un usuario por email, me devuelve una lista de usuarios, pero sin el filtro que estoy buscando, estuve revisando la wiki que tienen para poder buscar por alguna propiedad, la consulta la hago de la siguiente manera:

    mercadopago.configure({ access_token: config.access_token })
    const configura

[2018-02-16 20:12] IsaacMiguel opened #82 "Crear suscripcion - credenciales"
Hola, les queria consultar por el tema de que quiero crear una suscripcion y tengo problemas con las credenciales.
He probado con todas las opciones posibles, usuarios de test (entre ellos) y usuarios normales.

Este es el codigo con el que estuve probando:
(no puedo tener el post del customer, me da error de 'Unhandled rejection MercadoPagoError: access denied')

Aunque estoy usando metodos de an

[2018-02-19 19:14] arielfr commented on #81
@edmon1024 Gracias por el feedback. Faltaba una propiedad en el `/v1/customers/search`. Ya esta agregada. Podes descargar la versión mercadopago@1.0.11 y debería estar funcionando bien, ya que no estaba haciendo el search correctamente.

Espero tu feedback. Saludos!

[2018-02-19 19:53] arielfr commented on #82
@IsaacMiguel El código es retro-compatible con la integración previa. Encontré varios errores en el código.

1.) Si estas creando usuarios de prueba, el mail tiene que cumplir con el siguiente formato **test_payer_[0-9]{1,10}**. Fijate que escribiste **test_USER**.

2.) Cuando realizas la promesa de **saved_customer** en el **then**, estas haciendo **customerData** que no esta definido dentro del

[2018-02-19 19:53] #82 closed

[2018-02-19 19:53] #81 closed

[2018-02-19 19:55] arielfr commented on #82
@IsaacMiguel Agregue como punto 1.) el usar access_token en lugar de client_id y client_secret. Eso esta devolviendote el error de las credenciales

Saludos

[2018-02-19 19:58] joelibaceta commented on #81
Fixed 0b69bf98022322331fdd9faf8d5d465f3c5bd1ad

[2018-02-27 03:36] rggdev commented on #78
Hola Guillermo, te paso una version mas "limpia" del router, porque el problema(403-Forbidden) creo que lo tengo en la configuracion de la app.
Es decir creo que lo que esta bloqueando el POST es alguno de los middleware que uso (express-session, express-validator, passport).
Por otro lado si hago un HEAD (cURL) me responde 201.OK(GET), solo tengo problema con el POST.

Esta es la configuracion (*

[2018-02-27 21:11] IsaacMiguel commented on #82
Muchas gracias @arielfr !
Perdon no contestara, pero hice toda directamente con requests a la api y no tuve ningun problema y lo pude hacer todo rapido.

Claramente fue un tema mio que no entendi como trabajar con el sdk.

Lo del email del usuario es como me lo devolvio la api de mercadopago al crear usuarios de prueba. No sabia que tenia que tener payer en vez de user.

Mil gracias de todas forma

[2018-02-27 21:13] arielfr commented on #82
@IsaacMiguel no hay problema! Saludos

[2018-03-02 18:50] Albhaku opened #83 "Error en IPN"
Que tal. Tengo un error que no me ha dejado hacer nada.
Resulta que cuándo un usuario hace un pago, espero a que MP me devuelva el ID del pago en el query y así lo asigno a una orden. Claro que eso es después de los 5 segundos que toma la redirección que hace MP a mi sitio nuevamente. MP hace un POST, notificación de pago, a mi server con un paymentId pero antes de esos 5 segundos, por lo cuál no

[2018-03-05 19:10] kevinr89 opened #84 "Generar card_tokens"
Hola! Existe algún método para llamar a "/v1/card_tokens"? Ya que necesito generar un token para una tarjeta guardada y no encuentro la llamada a esa ruta. Gracias!

[2018-03-06 01:26] edmon1024 opened #85 "Problema para visualizar métodos de pago con el SDK para generar pago"
Que tal, espero me puedan ayudar con el siguiente problema que tengo.

De que forma en javascript (reactjs) podría llamar a la función de mp.getPaymentMethods()

SI logro visualizar el arreglo de métodos de pago, pero en algunos casos no se si sea por algún retardo no llego a poder recibir los métodos de pago, retorno el arreglo vacío []

Intente llamarlo la función cuando carga mi componente, o c

[2018-03-12 01:21] kevinr89 commented on #83
Me sucede el mismo error con otras consultas. Estoy buscando un customer por email. Hago una prueba simulando que no tiene fondos, la búsqueda por email del customer pasa correctamente y devuelve que no tiene fondos, luego al cambiar los datos en la vista del cliente y hacer una consulta nuevamente cuando busco el customer nuevamente por email me tira el error. Y es raro que si reinicio mi servido

[2018-03-12 02:30] kevinr89 commented on #83
Por si es de ayuda, siguiendo el código parece que el problema es en lib/request-manager.js. En requestManager.describe = function (options) en el primer llamado modifica el options que reciben los siguientes llamados.
Con esta modificación parece funcionar bien:
[code]

[2018-03-12 18:02] joelibaceta commented on #84
Hola @kevinr89 no recomendamos realizar llamadas al API de CardTokens desde el backend ya que esto debe realizarse solo en los servidores de MercadoPago (Sin pasar por tu servidor), para ello usar la SDK de Javascript para FrontEnd.

[2018-03-12 18:02] #84 closed

[2018-03-13 23:38] arielfr commented on #83
@kevinr89 Hola, podrás comentarme especificamente que fue lo que cambiaste, así realizo la prueba y en caso de necesitar modificación la hago. Estas haciendo un payment?

@Albhaku vi que estas haciendo un `req.query['id']` y pones en el `console.log` como si fuera un payment id. Te comento que el IPN no devuelve payments ids, ni merchant_orders id, etc...
El IPN retorna un **notification**. Ese no

[2018-03-14 16:31] arielfr commented on #83
@kevinr89 @Albhaku Ya realizamos el Debug necesario y encontramos el error. Al realizar una segunda llamada inmediatamente después de la primera el status code de la respuesta pasa a ser 304. Este statusCode no esta mapeado como valido dentro de la SDK. Ya hicimos la corrección y publicamos el fix en el paquete de mercadopago@1.0.12.

Por favor, actualicen la dependencia y realicen sus pruebas.

M

[2018-03-14 16:31] #83 closed

[2018-03-14 16:33] arielfr commented on #85
@edmon1024 Podrías mostrarme el código?

[2018-03-14 16:57] edmon1024 commented on #85
Primero al cargar el componente, cambio la public_key, valido que se haya cargado el sdk en el cliente y poder setear el campo:

[code]

Después en el render mando llamar los métodos de pagos para poder mostrarlos al usuario busco un método en particular por su ID, y lo muestro, pero lo que les mencionaba, por momentos no muestra algún dato, el ejemplo es el siguiente:

[code]

Estaba probando de

[2018-03-14 17:03] arielfr commented on #85
@edmon1024 El problema no recide en la SDK. Tiene que ver con el ciclo de vida de React. En tu ejemplo:

[code]

Deberías tener un state, los render de react cambian de acuerdo al state. Deberías tener un state inicial con un loading = true, luego hacer el AJAX (SDK mercadopago) y cuando la promesa se resuelva tenes que actualizar el state con la respuestas y cambiar el loading = false. Así el ren

[2018-03-14 17:03] #85 closed

[2018-03-28 06:20] AgustinQuetto opened #86 "Calcular shipping"
Hola, que tal.
¿Alguno logró calcular el shipping? No encuentro método en la wiki y añadiendo al json donde hace post el zip no lo calcula en el pago.

Gracias.

[2018-03-29 04:22] guillote22 opened #87 "Mercado pago no envía la petición a la "notification_url"."
Luego de crear 2 usuarios de prueba, uno comprador y otro vendedor, y utilizando las tarjetas de crédito de prueba, logro simular la compra completa.
Las "back_urls" funcionan bien, las compras simuladas quedan registradas en la cuenta del usuario de prueba vendedor.
Sin embargo, no llega ningún tipo de peticion a la "notification_url". Utilice Postman para hacer una petición POST con esa misma ur

[2018-04-01 02:27] guillote22 commented on #87
Hola, misteriosamente, sin haber modificado nada en mi código, las notificaciones a la "notification_url" comenzaron a llegar nuevamente. Saludos!

[2018-04-01 02:27] #87 closed

[2018-04-03 00:05] kevinr89 opened #88 "Error en request-manager-js"
En request-manager.js, al ejecutar la función requestManager.describe modifica la variable options que esta en memoria, al realizar otro request queda esa variable modificada.
Ejemplo en un caso concreto:
1. Ejecuto por primera vez mercadopago.payment.get(1234, {}, function(err, payment) {});
2. En requestManager.describe options es igual a: { path: '/v1/payments/:id', method: 'GET' }
3. Ejecuto m

[2018-04-17 14:43] KevinTemes commented on #86
Me sumo a la consulta. Ya hace varios días que estoy leyendo sobre este tema y no encuentro en la documentación ningún lugar donde se explique de forma concreta cómo hacer esto.

[2018-04-23 13:16] knoid opened #90 "Error al usar ipn.manage"
El request de IPN viene con el siguiente querystring `?topic=merchant_order&id=...`

Hasta acá está confuso: http://beta.mercadopago.com.ar/developers/es/guides/notifications/ipn
Cerca del título dice

Pero después en la descripción de topic dice

Me parece que el arreglo es bastante simple pero mientras tanto no se puede usar el ipn.manage

[2018-05-01 03:39] miguelsilv opened #91 "mercadopagoError: Invalid payment_method_id"
Já tentei vários cartões, todos dizem a mesma coisa
`mercadopagoError: Invalid payment_method_id`

[2018-05-10 17:50] scarmarco opened #92 "Money request payer_email Error"
Hello, I'm trying to use money request API but getting an error with `payer_email` prop.

*code*:
![image](https://user-images.githubusercontent.com/8265737/39884782-58e5d218-5461-11e8-88c4-0076f4128cca.png)

*error*:
![image](https://user-images.githubusercontent.com/8265737/39884797-65bc8c8e-5461-11e8-9da2-89c4d90e47d8.png)

[2018-05-15 12:10] yairvillarp commented on #86
Gente, estube en contacto con la gente de MP y esta sdk NO tiene shipping por el momento, asique tenemos que esperar a que lo tengan listo.

[2018-05-15 19:50] rggdev commented on #78
Buenos dias, con fecha 07/05/2018 complete el formulario para pasar la app a "Produccion", ya que actualmente se encuentra funcionando perfectamente (incluido Mercado Envios) en "Sandbox". Pero hasta la fecha no recibi ninguna respuesta de MercadoPago para poder pasarla a Produccion.

El formulario de solcitud(Produccion) se lleno con la cuenta simon (simoncobospr@gmail.com). Con esta cuenta obtuv

[2018-05-15 19:52] joelibaceta commented on #78
@rggdev escribir a developers@mercadopago.com para soporte tecnico, este medio esta destinado únicamente a la discusión de issues o features del sdk para nodejs de Mercado Pago

[2018-05-15 19:57] joelibaceta commented on #91
@miguelsilv você pode verificar o payment_method_id válido para seu país e usuário neste **endpoint** https://api.mercadopago.com//v1/payment_methods?public_key=YOUR_PUBLIC_KEY

[2018-05-15 19:57] #86 closed

[2018-05-15 20:19] #90 closed

[2018-05-15 20:39] #92 closed

[2018-05-15 20:39] arielfr commented on #92
Hi @scarmarco, this was a bug of the SDK. That's not the respond from the API is the schema validator implemented on the NodeJS SDK.

This is fix here https://github.com/mercadopago/dx-nodejs/pull/94. Please update your mercadopago NPM dependency to the latests version. It is `1.0.15` (just updated)

Thanks for taking the time to post the issue

Cheers,

[2018-05-19 01:11] miguelsilv opened #95 "Cobrança por Boleto(Ticket)"
Gostaria de saber, como gerar um boleto para pagamento?

[2018-05-22 23:02] franciscomemoli opened #96 "Tuvimos un problema, intenta nuevamente"
Hola estoy utilizando la sdk de node.js
Estoy obteniendo un cartel de "Tuvimos un problema, intenta nuevamente" luego de completar toda la info en la pag de mercado pago.
Que hago?
Creo una preferencia, de ahi obtengo el link init_point que es (https://www.mercadopago.com/mla/checkout/start?pref_id=302245336-d29f691d-9080-4707-ab62-98c33701db84), luego al cargar toda la informacion de mi tarjeta p

[2018-05-23 11:36] miguelsilv commented on #95
resolvido

[2018-05-30 22:16] franciscomemoli commented on #96
Encontré el problema, mercado pago falla cuando le mandas en external_reference algo como un json stringify, solo le podes mandar un string y con nada raro.

[2018-05-30 22:16] #96 closed

[2018-05-31 00:50] MatiDeve opened #97 "MercadoPagoError: Unknown Error"
https://ibb.co/k1XHfy

Hola buenas tardes, estuve revisando la lista de problemas y que se solucionaba actualizando a la version 1.0.12 (actualmente seria la 1.0.15 que es la que tengo), pero aun asi no me funciono.

Los introduzco mas en contexto:
El usuario de compra y el de venta son de pruebas, y uso tarjetas de pruebas. Uso solamente merchant_orders. Tengo la url registrada con merchant_order

[2018-06-02 01:17] yairvillarp opened #98 "MercadoPago Connect y vambiar configuracion en the fly para poder cobrar a nombre del cliente"
en este momento en el proceso de compra yo cambio la configuracion
[code]

y despues genero el pago

[code]

pero asi y todo me tira el error

MercadoPagoError: You cannot use application_fee with this payment

cual puede ser mi problema???

[2018-06-04 21:10] #95 closed

[2018-06-04 21:12] joelibaceta opened #99 "Deprecación de refresh_token"
El campo refresh_token sera deprecado para el flujo de obtener credenciales live, **(client_id + client_secret)**, se pasara este atributo a opcional y no requerido.

[2018-06-05 01:40] arielfr commented on #97
Buenas @MatiDeve podrías comentarme como estas haciendo la prueba. Estas haciendo o simulando la compra con usuarios de prueba?

[2018-06-05 01:56] arielfr commented on #97
@MatiDeve de casualidad estas usando modo sandbox?

[2018-06-05 17:31] arielfr commented on #97
@MatiDeve publique una nueva versión. Podrías probar. En caso de falla podrías compartirme el código del endpoint?

[2018-06-06 17:56] MatiDeve commented on #97
Hola, muchas gracias por tu respuesta y la nueva version. Anduvo perfectamente. Aun asi necesitas el código anterior (uso usuarios de prueba) o lo cerramos aca? Nuevamente muchas gracias

[2018-06-06 18:09] arielfr commented on #97
No, no hace falta 👍 Mil gracias

[2018-06-06 18:09] #97 closed

[2018-06-06 18:12] arielfr commented on #98
Buenas, te creaste un Marketplace?

Igualmente con cambiar las configuraciones on the fly, te diria que tengas cuidado. Al hacer un `require` en NodeJS, el objeto es un singleton. Por ende, si estas procesando 2 pagos al mismo tiempo con 2 configuraciones de MercadoPago distintas, vas a tener race condition.

[2018-06-12 19:25] kingmatusevich opened #103 "Usando client_secret y client_id (para checkout basico) da error de "invalid access token" despues de 24 hs."

[2018-06-12 22:37] #103 closed

[2018-06-12 22:38] #98 closed

[2018-06-13 13:53] kingmatusevich commented on #103
Cerrar el ticket no elimina el problema.

[2018-06-13 14:58] joelibaceta commented on #103
Este es un canal para revisar bugs o errores en la implementación del SDK, el problema que reportas se debe a un comportamiento normal del SDK, los live token (generados a partir de un client_id y client_secret) expiran en 6 horas, debes solicitar nuevos.

**Canal de soporte oficial para desarrolladores:** [https://www.mercadopago.com.ar/developers/es/support](https://www.mercadopago.com.ar/develo

[2018-06-14 22:43] kingmatusevich opened #105 "Using the Basic Checkout credentials, the server throws token error after a certain amount of hours of the node instance running"
**Describe the bug**
When you configure the nodejs library to use the Basic Checkout credentials (because you are implementing a Basic Checkout, that doesn't require homologation), and keep the node instance running for a certain amount of time (I've tested it with 24hrs), and then try to for example create a payment preference, the MP API replies with an invalid token error.

**To Reproduce**
Ste

[2018-06-15 15:03] kingmatusevich commented on #105
Because the library is implemented as a singleton, it's also not possible once expired to destroy and construct a new lib object to work around the problem. The only way to escape it is to use the Personalised Checkout token (which we're explicitly told not to use), or to reset the server process every so many hours, something that brings it's own bag of issues.

[2018-06-21 22:46] arielfr commented on #105
Hi @kingmatusevich @esgama . The refresh_token is deprecated, can't refresh token anymore. The solution is to always generate the token when a request is done. There was a bug, and it was saving the token instead of regenerating it any time if you use client_id and client_secret.

I'm sorry to hear that this cause you trouble. A new version of the SDK with the fix was generated on NPM. Please upda

[2018-06-21 22:46] #105 closed

[2018-06-27 20:14] chamini2 opened #107 "Cuándo dejará de funcionar el otro SDK"
Tengo entendido que pronto deprecarán el SDK viejo y me preocupa la fecha, especialmente porque he visto que este SDK no es totalmente estable aún.

¿Tienen una fecha definida?

[2018-07-12 15:00] chamini2 commented on #107
Gracias por la información!

[2018-07-12 15:00] #107 closed

[2018-07-24 19:17] LukasMeine opened #108 "Mercado pago documentation instructs developers to use an outdated version of the SDK"
**Describe the bug**
If you follow the documentation at the mercado pago website, you get a warning about a SDK deprecation.

**To Reproduce**
Steps to reproduce the behavior:

1- Literally follow exactly what the documentation says at: https://www.mercadopago.com.br/developers/pt/plugins_sdks/sdks/official/nodejs/

2- see the following message: "'This way of initializing the SDK is deprecated. Pl

[2018-07-24 19:35] LukasMeine commented on #108
Looks like you guys forgot to remove the deprecation message in the latest SDK. You recommend using this one, but the message persists in https://github.com/mercadopago/dx-nodejs/blob/master/lib/mercadopago.js at line 26

![image](https://user-images.githubusercontent.com/20716798/43161780-6f831164-8f5f-11e8-8ef2-6061e318247f.png)

[2018-07-30 18:37] paulogdm commented on #108
Indeed, hope you get some attention because the documentation sure needs some love.

[2018-07-31 12:09] paulogdm commented on #98
This is worse than I thought:
If you know the basics of Node you know that a "require" is always a single instance of a module.
When using MP Connect or the MP Applications, it instructs you to do the following:
[code]
Of course the example above with `new` is deprecated. But the following lines can confirm that MP Connect is not supported by the SDK at all, **when using it with mercadopago.config

[2018-07-31 14:18] arielfr commented on #108
@LukasMeine you're right, the documentation on Devsite is outdated. @joelibaceta please update it. @LukasMeine please use the Wiki on this Repository that it is up to date for the moment. Cheers!

[2018-07-31 14:18] #108 closed

[2018-07-31 14:43] paulogdm commented on #108
@arielfr I have been digging  the source code of this SDK. It is really possible to use MP Connect with it? I mean, I need to configure the `accessToken` of my "seller", but the access_token in the SDK is a global variable! Following the function `getCredentialsAndConfigure` it seems to have problems with race condition (because of the access_token variable).

[2018-07-31 17:04] arielfr commented on #108
@paulogdm Yes, the MercadoPago SDK Works as a Singleton. It's like using a `mongodb` or `postgresql` SDK, you configure the credentials onces. In case of MP Connect we are working to provide a way to override the credentials on the `request` you're doing to use the once you choose. So, the SDK is configure with your credentials BUT, you can choose to use another access_token depending on the opera

[2018-07-31 17:12] paulogdm commented on #108
@arielfr thank you for your response! The documentation on your website for MPConnect does not reflect the current state of the SDK. Do you think it is good to open an issue for that?

[2018-07-31 18:08] arielfr commented on #108
It's a good idea. In the meanwhile, I'm creating an issue on GH

[2018-07-31 18:10] arielfr opened #111 "Support MP Connect"
The SDK needs to support MP Connect.

[2018-07-31 18:10] arielfr commented on #111
@paulogdm Let you know when this is done

[2018-07-31 20:12] LukasMeine opened #112 "Broken link in README.md"
**Describe the bug**
Broken link in README.md

**To Reproduce**
1- Go to README.md
2- Notice the warning

 and click on the link

3- Notice 404 page

**Screenshots**

![image](https://user-images.githubusercontent.com/20716798/43484378-91ace686-94e4-11e8-8e22-787e46b24fc5.png)
![image](https://user-images.githubusercontent.com/20716798/43484457-c361f900-94e4-11e8-94f7-2a0e1b501145.png)

[2018-07-31 20:46] #112 closed

[2018-07-31 20:48] #111 closed

[2018-07-31 20:49] paulogdm commented on #111
That was fast. Ty!

[2018-07-31 20:51] arielfr commented on #111
@paulogdm Just bumped to version `1.0.19`. To use it you just need to pass as configuration the access token of the user you want to impersonate. Example:

[code]

Thank you again!

[2018-08-01 11:56] paulogdm opened #115 "NPM Audit show 6 vulnerabilities"
**Describe the bug**
By executing `npm audit` you can see that the mercadopago package has 6 vulnerabilities:

- 5 **moderate**:
 - [ ] hoek ( mercadopago > request > hawk > boom > hoek )
 - [ ] hoek ( mercadopago > request > hawk > cryptiles > boom > hoek )
 - [ ] hoek ( mercadopago > request > hawk > hoek )
 - [ ] hoek ( mercadopago > request > hawk > sntp > hoek )
 - [ ] tunnel-agent ( mercadop

[2018-08-01 13:50] paulogdm commented on #111
@arielfr I need to say: Thank you for making this little adjustment, it worked like a charm!
---
When the documentation of MP Developers does not reflect the real implementation of the SDK (and the wiki), it turns developing into a real time consuming guessing game. I lost at least 40 hours trying to figure out if I should follow the the wiki or the flow of the docs. I have been pressing my Scrum

[2018-08-01 16:55] arielfr commented on #111
@paulogdm Thank you for your feedback and support!. You are right on every point and I will do my best to contact everyone involve to enrich our documentation. On MercadoPago we are currently working on increase our Developer Experience team to achieve those goals.

Thank you again for your feedback!

Cheers!

[2018-08-04 16:05] brianpr opened #116 "Unauthorized use of live credentials"
**Describe the bug**
Creé una app de tipo marketplace, autoricé un user test vendedor y luego creé un pago  mediante web tokenize checkout. No importa todo lo que cambie, siempre recibo el mismo error. No sé si realmente es un bug, debe ser problema de config mio o que el modo sandbox no esté funcionando

**To Reproduce**
Steps to reproduce the behavior:
1. Genero botón de web tokenize checkout (u

[2018-08-05 15:31] brianpr commented on #116
Ok, luego de mucha lectura e intentos me di cuenta que el problema era el auth al momento  de enviar el authorization_code, yo utilizaba como dice la doc  el client_id y client_secret pero en vez de eso saque client_id y en client_secret puse la sandbox access token

Quedó resuelto, y era un error mio, pueden cerrar el ticket

Gracias

[2018-08-11 15:58] rodrigofbm commented on #91
@miguelsilv, conseguiu resolver? Tentei o que o @joelibaceta recomendou mas deu o mesmo erro.

[2018-08-11 21:32] miguelsilv commented on #91
@rodrigofbm  Parei de usar a sdk e estou fazendo requisições diretamente na API, é mais trabalhoso, mas não me deu dores de cabeça

[2018-08-15 00:56] #116 closed

[2018-08-15 14:40] edmon1024 opened #117 "como contabilizar una preferencia: aceptada, pendiente, etc"
Quisiera que me ayudaran en esta duda. En Javascript (reactjs si se puede) como podria saber en que estatus quedo una preferencia. Puedo generar correctamente una preferencia y la muestro en un iframe. Después de eso no se qué más hacer. En la documentación antigua dice que en modal si se puede, en la nueva no veo indicios de esto. Revisando los foros mencionan que en un iFrame si se puede.

En es

[2018-08-21 18:53] vlimag opened #118 "Alert of invalid CVC"
Hi,
I would like to know if is there a way to recognize invalid CVC/CVV before generating the token on android/ios sdk's, or even after generating it.

What we are current doing is:
- Generate token with React Native and Android/IOS modules
- Send the token to the back end (nodejs)

Doing that, we only figure it out that the payment wasn't accepted after some time.
If we could alert the user about

[2018-08-22 15:00] arielfr commented on #118
Hi,

No, the only way to check if the CVC or CVV is correct is actually doing a payment. This is not a MercadoPago requirement is how Credit Card works, you can validate the length, but if it is actually correct is imposible to do it without making the payment 😛. You can implement our Android or Iphone SDK for Checkout (We do all the work, congrats, rejections, etc...)

Cheers!

[2018-08-22 15:00] #118 closed

[2018-08-22 21:01] josantana commented on #86
There is any chance of providing a method to estimate shipping costs and delivery time using _Mercado Envios_? It has past months since the last comment on this thread. This issue should not be closed as it was not resolved.

[2018-08-29 20:41] ezequieltejada opened #119 "Plans and Subscriptions"
**Is your feature request related to a problem? Please describe.**
There is a method "plan" in the [documentation](https://www.mercadopago.com.ar/developers/es/guides/subscriptions/api/create-subscription) but it is not implemented

**Describe the solution you'd like**
I would implement it.

**Describe alternatives you've considered**
Doing it with a REST client directly.

**Additional context**
T

[2018-08-31 00:47] fedetango commented on #119
No es lo único! tanto **mercadopago.subscription** como muchos otros métodos documentados no existen en el SDK. La documentación y el SDK carecen de coherencia y tienen miles de faltas... la verdad es que lamentablemente es un desastre. Ya ni se entiende que partes de la api estan descartadas y cuales no. La referencia de API también esta incompleta.
Chicos, pilas, son los únicos en latinoamerica

[2018-09-04 17:06] arielfr commented on #119
Por el momento suscripciones no lo vamos a soportar con la SDK de NodeJS. Habría que usar las APIS. Esta SDK provee un método para hacer requests.

[2018-09-04 17:06] #119 closed

[2018-09-10 14:33] GolfredoPerezFernandez opened #120 "Como obtengo un token de tarjeta de credito con esta api?"
estoy tratando de utilizar esta api con reactjs pero no encuentro como tokenizar una tarjeta de credito.
otra cosa es puedo agregar el customer pero cuando trato de agregar una tarjeta al customer aparece esto:
 name: 'MercadoPagoError',
  message: 'invalid parameters ',
  cause: [ { code: '119', description: 'the card is required' }

mis parametros son:
 var card={
          id:'1',
          cus

[2018-09-10 14:36] GolfredoPerezFernandez commented on #117
Hola amigo estoy trantanto de utilizar esta api con react lograste que funcionara?

[2018-09-10 17:52] edmon1024 commented on #117
hola @GolfredoPerezFernandez si, actualmente estoy trabajando con el checkout básico, el único inconveniente es que cuando se muestra, no tengo forma de medir ahi mismo, que sucedió con el pago, que estatus mostró, ni poder redireccionar al usuario a otra página por ejemplo cuando el pago fue exitoso.

[2018-12-06 03:35] edmon1024 opened #123 "Error: ".additional_info.shipments.receiver_address": should be string al crear pago"
**Describe the bug**
Al intentar generar un pago con el checkout personalizado al agregar los datos adicionales, en este caso additional_info.shipments.receiver_address en additional_info, se lanza un error del tipo de dato, que es string en vez de objeto, cuando en la documentación esta marcado como objeto para agregar la dirección de envío.

**To Reproduce**
Steps to reproduce the behavior:
1. C

[2018-12-06 14:01] #123 closed

[2018-12-06 14:02] arielfr commented on #123
Hola @edmon1024 . Muchas Gracias por tu reporte. Te cuento que lo solucionamos hace un rato. Podes descargarte la nueva versión:

[code]

[2018-12-10 00:34] bolds07 opened #125 "Invalid currency id"
**Describe the bug**
I'm getting "invalid currency_id error" when trying to create a preference

**To Reproduce**
[code]

My mercado pago account is from brazil but im willing to receive orders from overseas and acording to this page // Available currencies at: https://api.mercadopago.com/currencies
'USD' is a valid currency id

[2018-12-10 01:36] bolds07 opened #126 "ipn.manage doesn't work"
**Describe the bug**
On this api documentation is said:

so when creating my preference I set my notificationUrl, but when i try to read like:

[code]
I get the error:
`Invalid Topic (undefined). The topics available are: preapproval, authorized_payment, payment, merchant_order`

Debugging i noticed that MP backend send me two kind of notification:

[code]
So the parameter sometimes is "topic" som

[2018-12-10 01:41] joelibaceta commented on #126
@bolds07 is correct, your application is receiving two kind of notifications, IPN and Webhook, for this reason they have different structure, you have to use the IPN Manager only for IPN notifications.

[2018-12-10 01:44] joelibaceta commented on #125
@bolds07 because there are countries, where we support 2 currencies.

[2018-12-10 02:02] bolds07 commented on #126
by the way, my test users are not getting e-mail for purchase confirmation... is that right? to verify how is the e-mail i do need to make a real purchase

[2018-12-13 23:51] FernandWTF opened #127 "basic checkout integration with React in frontend side"
Hey, Queria preguntar y/o sugerir una manera de generar un boton basico de checkout con react sin la necesidad de hacer una peticion a un api donde tenga un sdk de mercadopago.

Intente importar directamente el sdk en React y generar un link de pago con ``mercadopago.preferences.create``

pero me da el siguiente error
``` "SSL Error: https://api.mercadopago.com/checkout/preferences?access_token=TE

[2018-12-19 21:02] joelibaceta commented on #127
@FernandWTF actualmente no soportamos react de forma explicita. El error de SSL se debe a que no se esta usando un protocolo adecuado para comunicarse con el API de MercadoPago, se recomienda TLS mayor a la versión 1.0.

[2018-12-19 21:02] #127 closed

[2018-12-19 23:54] pam81 commented on #126
I have same issue, I'm receiving first IPN notification with topic and id and status="opened". Then  when the payment is done a second webhook notification with parameters : type and data.id.
How can I manage the second notification to set the payment? I think doc is wrong because it's said
 IPN Notifications (Webhook) in the title
 https://github.com/mercadopago/dx-nodejs/wiki/IPN-Notifications

[2018-12-20 17:40] nicocedron commented on #126
My Solution.

[code]

[2019-01-07 17:46] franciscomemoli opened #129 "Error en documentacion"
**Describe the bug**
A clear and concise description of what the bug is.

En la documentación indican el siguiente método

    Remove - Remove a card
`       mercadopago.customers.cards.remove(customer_id, card_id, configurations, callback)`

El cual no existe, el correcto es:
`       mercadopago.customers.cards.delete(customer_id, card_id)`

Algo similar ocurre con la creación de la tarjeta. Falt

[2019-01-25 18:07] #115 closed

[2019-01-25 18:07] arielfr commented on #115
@paulogdm Yes we do!

[2019-02-02 20:33] maxicastro commented on #126
Same problem here.

[code]

I receive in a route / ipn the IPN with **"status: opened"**, this state never changes even if the payment has been successful.

Then I receive the webhook in another (back_url param) route "/ purchase-completed" and although I receive collection_id = XX and collection_status = approved I have no way to retrieve payment information with any id of the received. (collecti

[2019-02-07 18:19] jessk77 commented on #120
Hola, tambien quiero sacar el token en react, has podido hacerlo?

[2019-02-07 19:11] joelibaceta commented on #120
@GolfredoPerezFernandez @jessk77 Por motivos de cumplimiento con la normativa PCI, no se permite la tokenizacion del lado del servidor si fuera de un entorno PCI Compliance, por lo que este SDK no abstrae este Endpoint, para tokenizar por lo pronto se debe usar el SDK de JS para frontend ( El cual por lo pronto no soporta React).

[2019-02-07 19:11] #120 closed

[2019-02-07 19:38] Juanii95 commented on #129
Solved!

[2019-02-07 19:39] #129 closed

[2019-02-08 16:06] maxicastro opened #131 "[sandbox] mercadopago.payment.search y get. no encuentran el pago pero con un get vía curl/postman sí."
Los métodos de la api mercadopago.payment.search y .get no encuentran el pago pero con curl sí lo encuentra.

[code]
Unhandled rejection MercadoPagoError: Payment not found
    at Object.callback (...node_modules/mercadopago/lib/request-manager.js:320:19)

[code]
mercadopagoResponse {
  body: { paging: { total: 0, limit: 30, offset: 0 }, results: [] },
  response: { paging: { total: 0, limit: 30,

[2019-02-27 06:03] ernestojr opened #133 "Ayuda para implementar correctamente Mobile Checkout"
**Ayuda para implementar correctamente Mobile Checkout**
Hola chicos, me disculpo por dejar esto por acá, es que, en stackoverflow en español no vi mucho movimiento en el tag de mercadopago. Voy al grano, estoy haciendo una implementación de Mobile Checkout en Node y Android para un e-commerce. Mi backend crea la preferencia, la guarda en la orden de compra  y luego regresa la orden con las prefer

[2019-02-27 14:07] joelibaceta commented on #133
@ernestojr te comento, este no es un canal de soporte tecnico, te recomiendo usar el canal de soporte oficial para desarrolladores http://www.mercadopago.com.ar/developers/es/support/.
Este canal esta destinado unicamente para discutir bugs, errores o sugerencias sobre el SDK de NodeJS para MercadoPago.

[2019-02-27 14:07] #133 closed

[2019-02-27 18:42] ernestojr commented on #133
Vale, Gracias por la información.

[2019-03-05 18:22] GonzaGr92 commented on #131
Me paso algo similar pero para crear pagos. Si le estas pegando a la api desde http normalmente te bloquea la petición por el parámetro strictSSL (configuración seteada a la librería request desde request-manager)
Checkea cambiar la linea 285 de mercadopago/lib/request-manager.js

`req.strictSSL = true;`

por:

`req.strictSSL = configurations.sandbox ? false : true;`

Por supuesto funcionaria siem

[2019-03-11 21:57] Quantium opened #134 "Can't install"
**Description**

When I try to install it vía npm library or even directly from this repo like this:

`npm install --save mercadopago`

`npm install --save https://github.com/mercadopago/dx-nodejs.git`

I got the following **error**:

`Unexpected end of JSON input while parsing near '...nt-env":"latest","gru'`

**Expected behavior**
To install the module...

**Screenshots**

<img width="1372" alt=

[2019-03-15 23:32] Quantium commented on #134
Hey guys, is there any solution or workaround?

Update: I try with several differente versions of Node and still doesn't work

[2019-03-16 16:04] arielfr commented on #134
Hi @Quantium sorry for the late response. This sounds that you have a data corruption in your NPM cache files JSON. See that the error is coming from your local folder of NPM installation:

`/usr/local/lib/node_modules/npm/node_modules/json-parse-better-errors/index.js`

You can try: `npm cache clean --force`

If not try to uninstall that `global` dependency. If that doesn't work, try manually rem

[2019-03-18 17:33] maxicastro opened #138 "[Sandbox] Error 500 - an error occurred doing PUT card_token"
**Describe the bug**
Al pagar en sanbox muestra un error "Ups, tuvimos un problema". La petición genera error 500 "an error occurred doing PUT card_token"

**To Reproduce**
Steps to reproduce the behavior:
1. Generar una preferencia de pago e ir a la pantalla de pago.
2. Completar los datos con una tarjeta de pago (en mi caso probé con varias de Argentina), usar usuario de prueba o sin usuario de

[2019-03-18 17:50] joelibaceta commented on #138
@maxicastro el error 500 corresponde a una respuesta de error de parte del API durante el proceso de pago, te sugiero usar el [canal de soporte de MercadoPago](http://www.mercadopago.com.ar/developers/es/support/) para que puedan ayudarte con consultas de este tipo, este canal esta destinado únicamente a bugs o mejoras del SDK de NodeJS no al uso general de los productos de MercadoPago.

[2019-03-18 17:51] #138 closed

[2019-03-19 14:08] maxicastro commented on #131
@GonzaGr92 nada, apliqué lo de la línea 285 que nombraste y sigo igual.

1 - Creo la preferencia, me devuelve el link de pago:

`https://sandbox.mercadopago.com/mla/checkout/pay?pref_id=235878668-c03151d3-b05c-47e6-87f6-18ef944314d9
`
2 - Recibo esto al ir al link de MP:

`POST /ipn?id=993163878&topic=merchant_order`

3 - Realizo el pago exitosamente en MP

4 - Al realizar el pago recibo:

`POST /

[2019-03-19 15:01] maxicastro commented on #131
Hola ! @GonzaGr92 con lo de strictSSL funcionó bien.
Gracias !

[2019-03-19 15:02] #131 closed

[2019-03-19 16:05] Quantium commented on #134
😅 Oh! was that, thank you.

[2019-03-19 16:05] #134 closed

[2019-03-20 18:57] edmon1024 commented on #123
En la versión 1.0.21 realizarón un rollback para restaurar este cambio, entonces la documentación esta mal? porque receiver_address esta marcado como un objeto que contiene la información de la dirección.

Seria buena idea que su CHANGELOG lo actualicen con todos los cambios, y no solamente con el último, porque la documentación no coincide y podemos tener errores que llevaria tiempo resolver y no

[2019-03-20 19:00] edmon1024 opened #139 "Duda sobre rollback sobre el siguiente cambio: Error: ".additional_info.shipments.receiver_address""
En la versión 1.0.21 realizarón un rollback para restaurar este cambio, entonces la documentación esta mal? porque receiver_address esta marcado como un objeto que contiene la información de la dirección.

Seria buena idea que su CHANGELOG lo actualicen con todos los cambios, y no solamente con el último, porque la documentación no coincide y podemos tener errores que llevaria tiempo resolver y no

[2019-04-15 19:25] #139 closed

[2019-04-18 16:34] damvaz opened #141 "Soporte para Frameworks Frontend modernos"
**Is your feature request related to a problem? Please describe.**
Estando ya en el año 2019 sería muy bueno si hubiera una manera sencilla de usar el API de mercadopago con algunos de los frameworks modernos, como React o Vue.

**Describe the solution you'd like**
Solución serverless y código de ejemplos para React, Vue JS y Angular

[2019-05-04 15:49] bolds07 opened #142 "Different prices for different payment methods in same preference"
**Is your feature request related to a problem? Please describe.**
MercadoPago recently changed the fares in Brazil (without comunicate the sellers to make it BETTER)
Now different payment options have tottally different costs to the seller and i would like to reflect this situation in the preference. This way i can create a single preference with the new price policy and share it to any system th

[2019-05-04 15:57] #142 closed

[2019-05-05 03:03] bolds07 opened #143 "not documented status returned on ipn query"
**Describe the bug**
according to mercado pago documentation these are the possible states of a payment
https://www.mercadopago.com.br/developers/es/reference/payments/resource/
[code]

however when I follow this guide https://github.com/mercadopago/dx-nodejs/wiki/IPN-Notifications to check the payment status after a notification i get  these two extra status.
I want to know what these states mean

[2019-05-17 16:58] LuKks commented on #143
It doesn't seem like a problem with dx-nodejs.

You must send a ticket here: https://www.mercadopago.com.br/developers/es/support
Explain the problem, send the payment id and more info related.

In what order you get those status? For example: opened, pending, cancelled, closed then you can change your code to consider these values like a temporal fix.

Anyway, you are right because it don't shoul

[2019-05-25 19:42] leonardovilarinho opened #144 "Error in create new preapproval"
I am trying to create a signature however I have the following error: (the used code is also in the image)

![Error and code](https://i.imgur.com/rDLzc2e.png)

[2019-06-08 14:24] e2fletcher opened #146 "AWS Lambda: Cant change client_id or client_secret because is already set"
Saludos cordiales.

En nuestra organización hacemos uso extensivo de la api de mercadopago para generar formularios de pagos en varias cuantas desde la misma función.

El problema que se presenta es que al usar el method configure, nos arroja este error `Cant change client_id or client_secret because is already set`

`    mp.configure({
      client_id: client_id,
      client_secret: client_secre

[2019-06-08 23:46] LuKks commented on #146
Lo siguiente podría ser un comienzo sin tener que modificar la librería ya que no tengo mentalizado todo su funcionamiento internamente así que sería mejor dejar la funcionalidad nativa a ellos.

[code]

Sería genial que lo pruebes (crear pagos, ipn, etcétera) así podés avisarme si no funciona correctamente.

[2019-06-12 16:47] joelibaceta commented on #144
PR: https://github.com/mercadopago/dx-nodejs/pull/145

[2019-06-14 18:25] edmon1024 commented on #139
Hace tiempo cerraron este issue, pero no comentaron el porque, y ni coincide su documentación, ni mantuvieron el cambio en el código para e campo coincida como objeto, no como string. Al menos comenten en que estuve mal, no sólo porque paso tiempo sin responder.

[2019-06-14 18:29] edmon1024 opened #147 "¿Rollback sobre el siguiente cambio: Error: ".additional_info.shipments.receiver_address" ?"
Hace tiempo cerraron este issue, pero no comentaron el porque, y ni coincide su documentación, ni mantuvieron el cambio en el código para e campo coincida como objeto, no como string. Al menos comenten en que estuve mal, no sólo porque paso tiempo sin responder, y no cambian la documentacion ni dicen nada al respecto!!

Issue cerrado sin comentario: #139

-----

En la versión 1.0.21 realizarón un

[2019-06-15 03:46] joelibaceta commented on #147
@Juanii95

[2019-06-18 01:46] e2fletcher commented on #146
Hola, gracias.

Te cuento que probé ese fragmento de código y no funciono.

Tal vez las variables se guardan en otro lugar no entiendo bien, como funciona nodejs por debajo del capó.

Tuve que setear las variables a undefined al crear el objecto de configuración, de adjunto como lo hice
[https://github.com/mercadopago/dx-nodejs/pull/148](url)

[2019-06-18 06:50] LuKks commented on #146
Probé crear dos pagos con dos cuentas distintas y se hacen perfectamente.
[code]

También probé lo que dejé antes pero en una función en GCP y responde con credenciales distintas.

Tiene sentido que funcione por eso no había hecho estas pruebas para mi primer comentario.
**Podrías especificar exactamente lo que probaste?** Incluso mejor si dejás el mismo código.

Basado en tu pull intuyo que queré

[2019-06-28 02:23] jorgeAM opened #149 "CAN'T REFUND PAYMENT IN SANDBOX (nodeJS)"
**Probando API MERCADO PAGO - DEVOLUCIÓN**
Al probar la devolución de un pago en sandbox, el pago se crea correctamente, pero me bota un error que no encuenta el pago al pasarle el ID del pago, pero si uso el método para buscar pagos si logro encontrar

**Codigo**
Al buscar funciona bien
![image](https://user-images.githubusercontent.com/19254966/60312371-b1a69b80-9920-11e9-9c37-8a8400c69413.png)

[2019-06-28 16:34] LuKks commented on #149
Para comenzar, tuve que re-escribirlo, para la próxima sería increíble que en lugar de capturas envíes directamente el mismo código que incluso es más fácil para ambos :p

No hice doble check pero **el siguiente código debería ser el mismo**. La parte de findById dentro del try no parece encajar bien por la longitud pero es lo único que se me ocurre (está tapado por el tooltip).
[code]

Veamos por

[2019-06-28 17:53] jorgeAM commented on #149
Hola @LuKks , gracias por tu tiempo lo que sucede es que yo guardo el pago en mongo y el "ID" que me retorna MP le doy el nombre "mercadoPagoId", lo que sucede es que no estoy implementando otras pasarelas ademas de MP. El error persiste si me encuentra el Pago  pero no encuentra en el método refund. Creo que también haré pruebas en producción

[2019-06-28 18:12] LuKks commented on #149
Lo que está tapado por el tooltip entonces es una consulta a la db? Sería genial que hagas un log a esa variable "payment" así comprobás que realmente se está obteniendo porque dentro del objeto error está aclarado -> "data": null
Por eso te decía que las propiedades estaban incorrectas.

[2019-07-11 22:23] lainz opened #153 "Preapproval con usuarios de prueba"
Hola, quería preguntar si se pueden usar dos usuarios de prueba para realizar las suscripciones, este es mi codigo actual:

Yo le paso como parametros payer_email que es el mail del usuario de pruebas que se suscribe y la cantidad que debe pagar

[code]

Cuando entro al enlace "init_point", lleno la tarjeta de pruebas
https://www.mercadopago.com.ar/developers/es/guides/localization/local-cards

Po

[2019-07-11 22:42] lainz opened #154 "Recibir notificaciones de pagos de suscripciones"
Hola, si ya tengo suscripciones mensuales en una cuenta de MP, como hago para recibir las notificaciones que se recibió el pago?

Actualmente tengo una pagina para ver si se realizaron los pagos normales, este es el código, quiero saber si esa pagina así como esta me sirve o que código tengo que usar y donde lo configuro en mi cuenta de MP (si es que es otra pagina).

[code]

[2019-07-11 22:43] lainz commented on #154
Veo que acá tienen un ejemplo, como adaptarlo a la pagina que ya tengo funcionando?

https://github.com/mercadopago/dx-nodejs/blob/master/examples/instant-payment-notifications/receive-ipn.js

[2019-07-16 22:50] stiagocab commented on #120
Hay manera de tokenizar por medio del API reference? Estoy usando nativescript y no hay forms para poder usar el mètodo del sdk de js

[2019-07-30 15:58] gastsail opened #155 "getaddrinfo EAI_AGAIN api.mercadopago.com:443"
Estoy tratando de generar un test de pago con Firebase y Mercadopago.

Lei la documentacion de Mercadopago para realizar una peticion de pago y espero retornar un mensaje de exito con la generacion del pago.

El código que ejecuto es un trigger http que al ejecutarse dispara la función que programé, lo raro es el response que recibo, ya que no esta en la documentacion del SDK y no se cual sea el p

[2019-07-30 22:08] LuKks commented on #155
"Outbound networking" https://firebase.google.com/pricing
Estás en el plan gratuito con salida "Google services only", la solución es pasarte a otro plan.

[2019-07-30 22:15] LuKks commented on #154
Ya lo solucionaste? Yo tengo implementado suscripciones en mi sistema y realmente fue un drama hacer múltiples pruebas para realmente entender el flujo de notificaciones pero al final logré algo coherente y simple.
Capaz pueda hacer una librería para simplificar el uso de las notificaciones pero prefiero que me digas si realmente lo necesitás entonces le doy prioridad.

[2019-07-30 22:29] LuKks commented on #153
Yo lo había resuelto probando directamente con usuarios reales porque en sandbox me tiraba el mismo mensaje que a vos.
Aunque recuerdo que una vez logré que sandbox funcione pero no pude repetir el movimiento, demasiado drama así que preferí olvidarme de sandbox.

[2019-07-30 23:12] lainz commented on #153
Ah ok, gracias por confirmar.

[2019-07-30 23:14] lainz commented on #154
Estaria muy bueno tener esa librería, ya que no pude solucionarlo, mas como comenté en el otro hilo que no puedo probar con usuarios de prueba, hace que sea complicado trabajar.

[2019-07-31 17:24] gastsail commented on #155
Gracias LuKks, estaba pensando lo mismo, habilito el plan y te aviso, pensaba que como me devolvio una respuesta del lado de meli, no tenia que ver con lo del pricing de Firebase, aunque tenia considerada esa opcion, muchas gracias, te comento en breve

[2019-07-31 17:32] #155 closed

[2019-08-01 02:11] LuKks commented on #154
En lugar de armar una librería estaba armando un archivo medio completo con ejemplos pero me preguntaba si solamente necesitás saber cuando un pago fue aprobado y nada más?

Por ejemplo, también querés una request para crear una suscripción nueva y otra request para cancelar? Es decir, así los usuarios realizan esas acciones.

Tenés un front-end donde mostrás el estado de la suscripción (pendiente

[2019-08-01 03:03] LuKks commented on #153
Probé nuevamente y no puedo.
Creé dos usuarios de prueba con mi access token de producción (de mi cuenta personal) tal como está ejemplificado.
https://www.mercadopago.com.ar/developers/es/guides/payments/web-payment-checkout/test-integration/

[2019-08-01 03:12] LuKks commented on #153
Probé nuevamente y no puedo.

Creé dos usuarios de prueba con mi access token de producción (de mi cuenta personal) tal como está ejemplificado en https://www.mercadopago.com.ar/developers/es/guides/payments/web-payment-checkout/test-integration

Vendedor: test_user_27490405@testuser.com
Comprador: test_user_7065136@testuser.com

Después con el acess token de producción de uno de los usuarios de p

[2019-08-01 03:20] LuKks commented on #153
Creando la suscripción desde la web con el usuario vendedor de prueba entonces funciona correctamente.
https://www.mercadopago.com.ar/subscription-plans

[2019-08-01 03:41] LuKks commented on #153
Ahgg, ahora está funcionando pero fue después de haber creado la suscripción desde la web, al menos, a partir de ese momento empezó a funcionar.

@lainz sería genial que pruebes crear la suscripción tal como lo habías hecho y si sigue sin funcionar entonces probar crear desde la web manualmente, probás con esa que supuestamente debería funcionar y después volver a crear con código.

[2019-08-01 20:57] LuKks commented on #149
Lo resolviste?

[2019-08-01 21:08] LuKks commented on #144
@leonardovilarinho it's resolved in v1.0.24.

[2019-08-01 21:38] LuKks commented on #141
Disculpá la demora, qué ideas tenés con respecto a serverless?
Porque esto va a necesitar alguna forma de autorización (sería ideal evitar doble autenticación) y también base de datos para vincular registros, casi que directamente debería ser un servicio nuevo porque sino cada desarrollador tiene que crear y estar pendiente de estos recursos.
Me refiero cuando un desarrollador front-end quiera int

[2019-08-01 23:41] damvaz commented on #141
Por lo que tengo entendido, en este momento el unico sistema serverless basado en PHP es vapor de Laravel.
O sino como dices... algún sistema en nodejs corriendo en la nube, con acceso Auth2

[2019-08-01 23:56] LuKks commented on #117
Dentro de https://www.mercadopago.com/mla/debits/new `function closeRender` noté que hacen una comunicación vía `postMessage` pero incluso está algo bug porque siempre se envía el `dropout` al cargar el iframe lo cual no parece correcto y encima al pagar el `authorized` no se envía, no pegó una o las intenciones no están claras :p

Como sea, sería muy fácil resolverlo pudiendo modificar directamen

[2019-08-02 00:24] LuKks commented on #141
Pero no veo qué es lo que querés lograr con respecto al back-end/serverless, o sea, algo en específico.

Por el lado del front-end (React y demás) lo que planteás está genial.
Por ejemplo https://www.mercadopago.com.ar/developers/es/guides/payments/web-tokenize-checkout/receiving-payment-by-card `web-tokenize-checkout.js`
Por lo que alcanzo a ver modifica el style de `body` y crea múltiples nuevos

[2019-08-02 02:19] lainz commented on #153
Claro igual la idea era crear la suscripcion por medio del usuario y actualizarla via codigo si cambiaran los precios, es decir que sea lo mas automatico posible.

[2019-08-02 02:22] lainz commented on #154
Los ejemplos que mas puedas brindar, ya que son bastante escasos en este repositorio.

Pero en realidad lo que necesito es
- Crear la suscripcion con el usuario, yo le paso el monto a pagar
- Actualizar la suscripcion si cambia el monto
- Recibir notificacion del pago para ese usuario, con el mail como campo de verificacion o algun otro que se use al crear la suscripcion
- Informar cuando se le va

[2019-08-02 05:27] federicosan opened #156 "I see the examples are 3 years old. Do you have any examples for the new sdk?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-02 05:52] jorgeAM commented on #149
me funciono en producción, pero en modo sandbox no funciona!

[2019-08-02 06:48] LuKks commented on #149
Podés revisar el campo `description` de la última imagen de tu primer comentario?
**Dice Payment not found, significa que el problema es al momento de encontrar el payment, es decir, el problema no es el refund y eso sencillamente invalida todo el issue.**
El drama es que tu mensaje personalizado dice que el problema fue el refund pero no es así.

Con el último código que había dejado deberías pod

[2019-08-02 07:51] LuKks commented on #154
Aclaro que no es tan simple porque básicamente estás pidiendo ayuda para toda una implementación de cero donde hay muchos factores a considerar entonces puede resultar complicado y más si se quiere hacer bien.
Por dar un ejemplo, tenés que tener en mente que alguien podría cancelar su suscripción (o incluso pausarla) directamente desde el panel de MercadoPago (fuera de tu plataforma) y más detalle

[2019-08-02 08:07] LuKks commented on #153
Comprendo pero tu issue es sobre utilizar usuarios de prueba con preapproval, en mi caso comenzó a funcionar correctamente después de crear una suscripción desde la web y probar esta misma, a partir de ahí el resto de suscripciones vía código funcionaron bien.

**Así que de nuevo al principio**, si te sigue sin funcionar vía código entonces deberías probar crear solamente una desde la web y ver qu

[2019-08-02 08:20] LuKks commented on #156
No matters that they have 3 years while they are compatible with the actual version but I agree that more examples can be nice.

Which example is not working or not up to date?
What example you actually need?

[2019-08-02 15:41] lainz commented on #153
Ok entendido, voy a probar como me decís.

[2019-08-02 15:42] lainz commented on #154
Muchas gracias por tu código, se ve todo muy completo. Si alguien de MP lo lee deberían incluirlo junto con los ejemplos de este repositorio, para que otro que lo necesite lo pueda encontrar también.

Muchas gracias por tu tiempo, espero tener éxito en el desarrollo. Saludos.

[2019-08-02 21:02] federicosan commented on #156
Hi LuKks, is it not clear really which examples conrrespond to which solutions, the docs shows 4 ways of integration, buttons, web checkout, web tokenize checkout and api. It is not clear which examples correspond to each one of these and also code examples on the docs page for api, seem really different from these. I don't think these example are addressing the api part of the development solutio

[2019-08-04 21:28] gastsail commented on #156
Hi fede, I have made an example with Android [kotlin] + Firebase , you can check it out here https://github.com/gastsail/MercadoPagoIntegration

The repo is beign worked on to improve the quality of the script and also the quality of the android code, but for a kickstart project, you will find there how it works, at the main root of the repo you will find a index.js file, thats the server file tha

[2019-08-04 23:05] federicosan commented on #156
@gastsail  thanks Gastón, but I would need to see a bulletproof web-based checkout solution, as the important part is how to work with a secure form using mecadopago.js on the client.  It seems that using a mobile client is a bit different from this, not on the part of the payment endpoint though.

[2019-08-05 00:19] LuKks commented on #156
Why this one is not useful?
https://www.mercadopago.com.ar/developers/es/guides/payments/api/receiving-payment-by-card
Maybe that can be translated to a repository that you just `git clone` and play with (same with other integrations).

Each library has relevant examples of itself, the solutions that can be provided with each library is another matter.
[This doc example](https://www.mercadopago.co

[2019-08-06 00:31] matias4205 opened #157 "How to get all preferences"
Hi, i wanted to know if there is a way to list all my preference items

[2019-08-06 07:50] LuKks commented on #157
There is no route for that: https://api.mercadopago.com/checkout/preferences#options
So you need to implement your own database to save at least every id that you create.

Would be great see paging, find by id, external_reference?, payer, date, etc for preferences.

[2019-08-06 12:51] #157 closed

[2019-08-12 05:35] federicosan commented on #156
I could not translate that tutorial to an example that I can play with, it was too much work. I don't even think that tutorial is ok, it seems to have some bugs, and it does not seem to be integrated at all.

[2019-08-15 22:59] federicosan opened #158 "Multiple web tokenize checkout buttons on the same page?"
**Is your feature request related to a problem? Please describe.**
Yes.
Introduction:

 need to have two  web-tokenize-checkout buttons on the same page, one is for discounted tickets and the other has no discounts

Why?
I could not find a way to generate unique coupons on demand so I made different tickets, the discounts need to be approved after checking documentation by an admin.

The problem
T

[2019-08-19 00:07] LuKks commented on #156
Really sorry the delay.

Yes, sure. That example has several errors like `Console.log` (C capital), `undefined payment variable` and even the same undefined variable is used twice wrongly.
In the `.save(...)` should use `payment_data` and in the `console.log` should use the `data` variable.
However, there is `token`, `installments`, `payment_method_id` and `issuer_id` that comes from the request b

[2019-08-19 00:53] federicosan commented on #156
Thanks @LuKks it is very nice of you took the time to help me in such a manner.  I already had sorted things out and did all these things by now but I am truly grateful.

There are many more little bugs that you like me sorted out but are not aware of for example the cast of installments is supposed to already be an integer, form's data-summary-product won't work just to name a few more. This is n

[2019-08-19 18:53] LuKks commented on #156
There is no special event, it's a normal payment.

No, you can track all payment movements by [IPN notifications](https://www.mercadopago.com.ar/developers/es/guides/notifications/ipn/).

They will send an email when is appropriate, there is no manual check.

[2019-08-19 18:58] LuKks commented on #156
About in_process status:
https://www.mercadopago.com.ar/developers/es/guides/payments/api/handling-responses/

![](https://www.mercadopago.com.ar/developers/bundles/images/payments-status-transitions-diagram.png?v=e00b4d4eaa83d7b969a2f4383f163369)

[2019-08-20 07:16] federicosan commented on #156
Gracias @LuKks  esa página ya la había consultado pero esa imagen no a mi no me la muestra, me sirve.

[2019-08-21 20:28] lainz commented on #153
Probe como me dijiste haciendo una suscripción nueva desde la cuenta de pruebas desde la web y dando el link a otra cuenta de pruebas, pero dice "ups algo funciono mal", por lo menos a mi tampoco me funcionó de esa forma.

[2019-08-21 20:30] lainz commented on #154
Probé con el codigo de backend_simple.js y el problema que tuve fue algo raro, ya que no pude configurar la URL de notificaciones en mercado pago (será por el async?). Cambié en el código res.send('') por res.sendStatus(200) sino me decia que la pagina debia devolver status 200. De todas formas no pude probar por el tema de los usuarios de prueba que no funcionan.

[2019-08-21 20:52] lainz opened #159 "No funcionan los pagos"
Hola, los pagos venian funcionando correctamente, pero ahora todos los usuarios tienen problemas al pagar, por mas que lo llevamos a la página de MP y llenan los campos no se puede efectuar el pago, este es el código que usamos para llevarlos a la página de pagos:

[code]

[2019-08-21 20:54] lainz commented on #159
Nota: con usuarios de prueba funciona correctamente, eso es lo raro, con usuarios reales es donde falla.

[2019-08-21 20:58] LuKks commented on #153
![](http://i.imgur.com/gnugPKe.png)

Actualmente generé dos usuarios de prueba y creé la suscripción directamente desde Node y todo bien.

Lo que voy a hacer es dejarte directamente mis dos usuarios de prueba con exactamente el mismo código, están hechos con una segunda cuenta real que casi no utilizo.

Vendedor:
[code]

Comprador:
[code]

Usás el `init_point` generado:
[code]

Para el pago utilic

[2019-08-21 21:10] lainz commented on #153
Será que yo accedo con client_id y client_secret en vez del access_token?

[2019-08-21 21:15] LuKks commented on #153
Lo había notado pero no creo porque:

Además, yo usaba directamente el access token e igual tenía el problema.

[2019-08-21 21:19] lainz commented on #153
Ok. Estoy intentando realmente con la preferencia que cree desde la web, pero no entiendo como puedo hacerlo como invitado (no login) si me pide el correo electronico de todas formas?

[2019-08-21 21:19] LuKks commented on #154
`async` no tiene relación con el problema porque es solamente para evitar hacer `then` y anidar callbacks.

Seguramente sí pero notaste que es un router de Express? Tenés que:
[code]

Tendrías que usar `/new/:email` para comprobar que las rutas están funcionando y además se crearía una preferencia para probar si llega la notificación.

Con respecto al status, se supone que por defecto es 200 y con

[2019-08-21 21:22] LuKks commented on #153
No pide correo, es opcional:
![](http://i.imgur.com/rw0iBy8.png)
Solamente no ingreses ahí, podrías probar abriendo una ventana en incógnito.

[2019-08-21 21:24] LuKks commented on #153
Intentá pagar esta directamente:
https://www.mercadopago.com/mla/debits/new?preapproval_id=e37b2a0cc0a14bd7bcda8ee1e690ebb9

También podés generar una nueva con el último código que comenté, ya tiene un `access_token` establecido.

[2019-08-21 21:31] lainz commented on #153
Si ahi me anduvo, el tema que no entiendo es si creo una preferencia desde la web nada mas, me sale con el campo mail y ahi ya no puedo probar cada vez que le pongo el mail no me deja y me tira en rojo, no me sale como con tu preferencia que tiene el login. Me sale un campo email.

Voy a probar de la otra forma, creando la suscripcion via codigo con el access token.
![mp](https://user-images.githu

[2019-08-21 21:41] lainz commented on #153
Muchas gracias ahi me anduvo la suscripción con usuarios de prueba! En el código que tenia lo unico que hice fue usar el access_token de producción, el resto lo dejé igual y así me funcionó.

[2019-08-21 21:41] #153 closed

[2019-08-21 23:57] lainz commented on #154
Ok, el tema era que mi versión de node parece que no soporta async y await, o alguna configuración que tengo de express.

Lo cambie por then..catch y al menos lo pude configurar en la pagina de ipn de mercado pago.

[2019-08-22 05:43] federicosan commented on #149
@LuKks  @jorgeAM  Podría ser que el modo sandbox no este guardando los pagos realmente, ya que solo son pruebas o no? A mi no solo no me funciona ni siquiera me devuelve un mensaje la api cuando hago un call a .refund.

[2019-08-22 06:33] federicosan commented on #149
Hay algo que es raro, como refund no me funtiona en sandbox probe update con status: 'refunded' como indica aca el sdk y obtengo esta respuesta

MercadoPago SDK: "status": is not a valid property.

Si  nos fijamos la definición de refund que es bastante distinta a otras funciones.
https://github.com/mercadopago/dx-nodejs/blob/master/lib/resources/payment.js

[code]
Vemos como definen el objecto {i

[2019-08-22 07:42] federicosan commented on #149
Otro problema me lo da cancel, creo un pago con status_detail in_process  y después no me deja cancelarlo.

 cause:
   [ { code: 2018,
       description:
        'The action requested is not valid for the current payment state',
       data: null } ],
  status: 400,
  idempotency: '02c19630-ee5d-40a8-b053-a17cf9d9fedc' }

probe esto tambien para refund https://github.com/mercadopago/dx-nodejs/iss

[2019-08-22 11:48] LuKks commented on #149
Y si probás directamente llamando a la API? Sin librería.

Sería genial un código reproducible y simple, entonces todos tenemos lo mismo y se intenta a partir de ahí.

Están usando id y secret para la configuración? En el README dice que en sandbox se tiene que utilizar el access token.
Por eso digo que se necesita el código que estén utilizando para entender mejor y hacer diferentes pruebas.

[2019-08-22 12:06] LuKks commented on #154
En la v7.10 hay async/await, estamos en v12.9, qué te impide actualizar? Lo pregunto por curiosidad, se supone que dx-nodejs es compatible con versiones antiguas.
Anidar then y catch no está bueno, con tener 5 operaciones ya se vuelve terrible de mantener.

Entonces pudiste? Probaste usando directamente el access token?

[2019-08-23 06:45] federicosan commented on #149
Tengo varias sospechas, por ejemplo para hacer refund tenes que tener balance positivo en al cuenta, una cuenta test no tiene balance que yo sepa, es un bug, no se de donde viene pero esta es una posibilidad. Estuve viendo que quizás hay que usar el describe que muestran pero no lo probé.

[2019-08-23 17:55] jorgeAM commented on #149
@federicosan si me genera el pago, de hecho hasta puedo consultarlo. Y si no me equivoco para crear el pago el payload era distinto a como estaba en la documentación.

[2019-08-23 21:03] federicosan commented on #149
@jorgeAM  no quise decir eso, el pago lo genera pero no lo reconoce cuando ahces el refund dice que no existe.

[2019-08-23 21:54] lainz commented on #154
Tenemos la 8.9.3, pero de todas formas no funcionaba el codigo. Debe ser otra cosa. Yo no manejo la version de node que esta instalada, estamos usando AWS.

Llegaron las notificaciones con usuarios de prueba ahora vamos a ver en produccion.

[2019-08-23 22:22] lainz commented on #154
Funcionó perfecto en producción también. Muchisimas gracias por tu gran ayuda.

[2019-08-23 22:22] #154 closed

[2019-08-23 22:26] lainz opened #160 "Actualizar monto de la suscripción via codigo y external_reference"
Es posible una vez realizada una suscripción via código, actualizar el monto de la suscripción también vía código, usando como filtro de busqueda la external_reference?

Porque por ejemplo nosotros tenemos planes mensuales que son individuales para cada cliente, tenemos un id que identifica al cliente y eso lo usamos para crear las suscripciones, entonces nuestro external_reference que nos llega e

[2019-08-23 22:35] LuKks commented on #160
https://github.com/mercadopago/dx-nodejs/issues/157

[2019-08-23 22:48] LuKks commented on #159
Sería genial un código reproducible, es decir, que yo pueda copiar, pegar y ejecutar para replicar el problema, quizás únicamente cambiar credenciales.
Ya que "problemas al pagar" no es muy específico, **siempre se necesita un código que replique el problema de ser posible, así es más fácil ayudar**.

[2019-08-23 23:13] lainz commented on #160
Gracias, ya lo pude solucionar. Por las dudas dejo como lo hice:

Obtengo el id de la preferencia:
GET https://api.mercadopago.com/preapproval/search?access_token=APP_USR&external_reference=uuid

Y actualizo el monto:
PUT https://api.mercadopago.com/preapproval/:id?access_token=APP_USR

Por el momento no almaceno el id de la preferencia, solo la external_reference, me es mas sencillo asi.

[2019-08-23 23:13] #160 closed

[2019-08-23 23:17] lainz commented on #159
Ese es el codigo tal cual lo tengo en el sitio, asi que ese es el que tiene problemas.

Los parametros son sencillos, detalle, cantidad, moneda, total, mail, se pueden reemplazar facilmente. Para moneda uso siempre 'ARS', la referencia es un uuid que para probar puede ser cualquiera.

Lo tengo armado como podes ver con la vieja api,
var mp = new MP("", ""); // client id y client secret

Aunque sig

[2019-08-23 23:20] lainz commented on #159
Edit: funcionaba ok, ahora que me acuerdo ayer probe y dejo de andar con usuarios de prueba también, lo mas probable es que haya sido reemplazada con pagos con tarjeta que esta como hacerlo en la web de desarrollo, y esto haya dejado de andar.

[2019-08-23 23:26] LuKks commented on #160
Oh, preapproval, yo pensé en preference por eso mencioné el otro issue.

[2019-08-23 23:59] kim1882 commented on #149
La única forma es consumir vía REST directamente con un `POST https://api.mercadopago.com/v1/payments/<PAYMENT_ID>/refunds?access_token=<ACCESS_TOKEN>`
Te devuelve algo similar a:
`{
  "id": 21894933,
  "payment_id": 21884157,
  "amount": 100,
  "metadata": {},
  "source": {
    "id": "29827293",
    "name": "My Company",
    "type": "collector"
  },
  "date_created": "2019-08-23T18:32:18.481-04:0

[2019-08-24 00:48] LuKks commented on #159
Yo sé que es sencillo, el código reproducible era para vos mismo, no para mí.

![](http://i.imgur.com/md2oDlL.png)
[code]

También lo probé directamente con `access_token` tanto sandbox como producción y todo funciona.

[2019-08-24 00:53] lainz commented on #159
Ok gracias por probarlo. Voy a ver qué puede ser.

El vie., 23 de ago. de 2019 21:48, Lucas Barrena <notifications@github.com>
escribió:

[2019-08-24 01:36] luchobertello opened #161 "Uso no autorizado de credenciales de producción - Unauthorized use of live credentials"
Buenas, estoy integrando Mercado Pago a través de la funcionalidad Marketplace (estoy utilizando el SDK de NodeJS).
Ya solicité la homologación y tengo las credenciales de producción, además de tener creada la aplicación de Marketplace.
A la hora de intentar realizar un pago obtengo el siguiente error:

**{
    "message": {
        "name": "MercadoPagoError",
        "message": "Unauthorized use o

[2019-08-31 20:32] LuKks commented on #158
Sorry again the delay, for the future if you consider the issue important then try to comment it to fire a new notification :p

`/public/index.html`
[code]

`/public/custom.js`
[code]

`/app.js`
[code]

`node app.js` then go to [http://localhost:3000](http://localhost:3000)
Click the first button, notice the $100 and close it.
Click the second but notice the $99.
Try pay with `4509 9535 6623 3704`

[2019-09-10 21:24] theprometeus commented on #161
Estoy yendo el memo problema cuando yo hago una tentativa de devolver el pagamento de uña autorización.

También cuando yo tentó hacer un pagamento con la misma tarjeta de crédito salva en Mercadopago más de una vez, el API retorna "invalid token"

[2019-09-19 17:57] federicosan commented on #161
Estás usando https en el dominio?

[2019-09-19 18:01] federicosan opened #163 "Wire transfer payments"
**Is your feature request related to a problem? Please describe.**
I would like to know if these is possible with the sdk, or if the api supports it.

**Describe the solution you'd like**
Buyers can pay by making a wire transfer from their bank account to the one specified.

**Describe alternatives you've considered**
None

**Additional context**
Not necessary

[2019-09-20 22:21] luchobertello commented on #161
Si. Usamos https porque ML lo solicita para estar en producción.

[2019-09-20 22:23] luchobertello commented on #161
Parece ser que el uso de credenciales no estaba de la manera correcta.
Se deben usar siempre las credenciales del vendedor y nunca las de la cuenta "host" de los pagos (en el caso de pago distribuido).
No está aclarado esto en la documentación pero la solucion es la mencionada anteriormente.
Cierro la issue. Gracias!

[2019-09-20 22:23] #161 closed

[2019-09-30 06:37] rushita-indianic opened #165 "How can I get init_point or sandbox_init_point after calling payment.create API?"
**Describe the bug**
Have called payment.create API and got json response but couldn't find init_point or sandbox_init_point in response. even no one has created any documentation how to use this documentation to do payment.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Now in preference API it is giving two URLs in response to do payment using card/netbanking/ce

[2019-09-30 20:06] LuKks commented on #165
https://www.mercadopago.com.ar/developers/es/guides/payments/api/other-payment-ways

Check the `external_resource_url` but yours seems incomplete, how did you create that payment? Try the example code in the documentation.

[2019-10-01 05:28] albert-hoffman commented on #165
@LuKks why it's incomplete? It is coming from APIs I didn't make any self-made changes? we have created payment using npm moduile like this. can you elaborate please how can I get proper URL?

[code]

[2019-10-01 20:33] LuKks commented on #165
The @rushita-indianic `external_resource_url` is:
http://www.mercadopago.com/mla/sandbox/payments/ticket/helper?payment_method=rapipago

But my url on the response is:
http://www.mercadopago.com/mla/payments/sandbox/ticket/helper?payment_id=22016908&payment_method_reference_id=22016907&caller_id=463597522&hash=c184a56e-f404-414f-ace7-52ccc0eabdd7

That is what I said seems incomplete, so I asked h

[2019-10-02 03:40] albert-hoffman commented on #165
@LuKks  thanks for your reply but while I am opening that URL it is not giving me option to do payment using card or net banking. see screenshot, please. I want to do payment then want notification to my URL that what is status of payment.

![image](https://user-images.githubusercontent.com/53006107/66016473-6ccc6b00-e4f4-11e9-9579-7aca77af6556.png)

[2019-10-02 04:32] LuKks commented on #165
Due the payment method. That one is called rapipago and accepts only cash, so there is no way to do it online.

For payments trough credit card, in the next url search for `Recibir un pago con tarjeta`:
https://www.mercadopago.com.ar/developers/es/guides/payments/api/receiving-payment-by-card

You are dealing with the API there but you also can work directly with an already built checkout, at this

[2019-10-02 05:26] albert-hoffman commented on #165
@LuKks how to enable all payment_method? as a user can do payment by any method.

[2019-10-02 16:31] LuKks commented on #165
That is a different question. Create a `preference` then use the `init_point` or the `preference id` with Smart Checkout.

Read [/developers/es/guides/payments/web-payment-checkout/introduction](https://www.mercadopago.com.ar/developers/es/guides/payments/web-payment-checkout/introduction)
And later [/developers/es/guides/payments/web-payment-checkout/integration](https://www.mercadopago.com.ar/de

[2019-10-03 07:41] rushita-indianic commented on #165
@LuKks  I used preference API as per your good suggestion. It was really helpful for us. and I got this response which I have attached over here. Now the question is how to get a refund using this response only. kindly give suggestion on refund which property I need to use and which API I need to use, kindly give your information?

[code]

[2019-10-03 20:19] LuKks commented on #165
In that response you don't have any payment information because the preferences are useful to create the same payment multiple times.

In the `notification_url` you get the payment movements. You can `refund` only with `payment id`:
[code]

Response with some "irrelevant" parts removed to keep it short:
[code]

[2019-10-04 07:54] rushita-indianic commented on #165
@LuKks thanks a lot Lukks you are helping lots. I have tried as per your suggestion but it always showing payment not found.

even the majority gives this error.
![image](https://user-images.githubusercontent.com/55580675/66190684-3a646e80-e6aa-11e9-8bfe-997b6fe93274.png)

[2019-10-04 16:43] LuKks commented on #165
Can you send the code that you are using and the response? So I can check the `init_point` and if I get the same error then I can check the code.
One suggestion can be, try to **copy again** the `init_point` and open it from incognito/private mode.

[2019-10-07 05:25] rushita-indianic commented on #165
@LuKks  I tried dear, and this is my init_url:
https://sandbox.mercadopago.com.ar/checkout/v1/redirect?pref_id=472389951-1487aee6-0f2c-4cce-a41c-b95cb2fef2e3

[2019-10-07 22:34] LuKks commented on #165
Yep, your url doesn't work. I already created preferences with my own credentials and everything works perfect for me. Try different account, different credentials, etc.

Why you can't let the complete code?
Instead having and showing unknown variables, you must have constant values to test correctly.

Simple like this:
[code]

https://sandbox.mercadopago.com.ar/checkout/v1/redirect?pref_id=190443

[2019-10-09 10:29] rushita-trivedi commented on #165
@LuKks I got this page working now. and I use this code to make payment.

[code]
The response of creating preference:

[code]

After using init_point url, I am able to do payment and its success and I got response in notification API. I wrote this code for payment.

response is like this:

[code]

then I use this response and use id like it for refund.
`const x = await mercadopago.payment.refund(b

[2019-10-09 20:43] LuKks commented on #165
Let's see.

I generated a preference and I used the `init_point`:
[code]

I made the payment process, logged as the test buyer user:
![image](https://user-images.githubusercontent.com/12686176/66516862-6459ce80-eab8-11e9-83c6-7f32b64f33d9.png)
![image](https://user-images.githubusercontent.com/12686176/66516894-789dcb80-eab8-11e9-94a3-f45576c16415.png)

Before I started, I [configured the url noti

[2019-10-09 23:26] LuKks commented on #149
Otra persona tenía el mismo problema y expliqué un procedimiento: https://github.com/mercadopago/dx-nodejs/issues/165#issuecomment-540185854

[2019-10-10 06:27] albert-hoffman commented on #165
@LuKks  I really appreciate your efforts to help us. But don't know why it's showing me Payment not found while doing a refund.
I got this response in notification URL.

[code]

In case of your response live_mode: true and for us it's false, is that be an issue?

[2019-10-10 10:27] albert-hoffman commented on #165
@LuKks  I am also getting this error sometime:

[code]

[2019-10-10 15:35] LuKks commented on #165
As I said at the beginning in my previous comment, I used `test users` with `init_point`. You said that you are using the `sandbox_init_point` which definitively is not live mode.

And about the unauthorized error, I think I also got that when I tried an invalid payment id but using correct values you should be fine.
Normally that error indicates you are using wrong the credentials, you must delet

[2019-10-10 22:47] Gutyerrez opened #166 "'Ops, ocorreu um erro.' Preferences in mercado pago Node SDK"
I'm trying to create one preference and get payment link, but i open the payment link and that returns to this page: https://imgur.com/a/QEhV0KD

My code here:

[code]

[2019-10-10 23:21] LuKks commented on #166
Check https://github.com/mercadopago/dx-nodejs/issues/165#issuecomment-538288308

[2019-10-12 19:51] Gutyerrez commented on #166
I tried all comment in this issue, but i don't got success 😢

[2019-10-12 21:09] LuKks commented on #166
I will copy and paste the first code that I left in https://github.com/mercadopago/dx-nodejs/issues/165#issuecomment-540185854

Try this exact code:
[code]

The response includes:
`sandbox_init_point`: https://sandbox.mercadopago.com.ar/checkout/v1/redirect?pref_id=463598017-3d109598-2f83-4b85-b0ea-7d18bbe64c89
But obviously also works with `init_point`.

Before pay, you need to login with:
![imag

[2019-10-14 04:31] albert-hoffman commented on #165
@LuKks you are really supportive and helpful, I am really thankful to you and appreciate your humble help. thanks again.

[2019-10-14 04:43] rushita-indianic commented on #165
Thank you so much @LuKks for your help and support. We did the refund successfully as per your guidance. :)

[2019-10-14 04:43] #165 closed

[2019-10-14 07:35] #166 closed

[2019-10-21 14:14] lainz commented on #159
Volvio a funcionar sin tocar el código, así que no era problema de nuestra parte, sino de MP, quizas si con nuestra cuenta, pero quien sabe.

[2019-10-21 14:14] #159 closed

[2019-10-31 18:27] alanssoares opened #167 "does not support SSL"
I'm trying to get a payment by id using the sandbox and it is throwing:

SSL Error: https://api.mercadopago.com/v1/payments/22448980?access_token=TOKEN does not support SSL

I can see the response is the network console, but the promise always catch this error:
![image](https://user-images.githubusercontent.com/11459662/67975397-be027400-fbf2-11e9-88e6-31bf4f994c17.png)

![image](https://user-imag

[2019-12-02 10:12] manuargue opened #168 "support for plan and subscriptions"
I see mercadopago sdk for php already have support for plan and subscriptions:
https://github.com/mercadopago/dx-php/blob/ec571266495cb96bb5b7a4ae8073dcca822a3e5d/samples/suscriptions/subscribe-to-plan.php

I couldn't find any example of how to implement this with dx-nodejs and I understand this feature is not implemented at the moment  (pls correct me if I'm wrong).

From my pov of view plans and

[2019-12-03 08:32] angelvega93 commented on #168
I also need this feature 👍

[2019-12-06 20:50] dsouza95 commented on #168
I'm very interested in this feature as well. I have found an
[example](https://github.com/mercadopago/dx-nodejs/blob/master/examples/preapproval-payments/button.js) that, if my understanding of this code is correct, could be used to create a subscription (see the `auto_recurring` field). I couldn't find this mentioned in the documentation though. Also, the preapproval.create method seems to requir

[2019-12-07 00:44] LuKks commented on #168
Can someone create a customer id and test it?

[2019-12-07 00:55] LuKks commented on #167
Can you provide a code to replicate the issue?

This works:
https://api.mercadopago.com/v1/payments/22448980?access_token=TEST-545545474996086-010315-04b0f100ed5aeb57304e2926cebde76a__LB_LC__-239656545
Payment not found but SSL is ok.

[2019-12-07 01:16] LuKks commented on #163
I don't think you will get a payment notification when you receive a bank transfer.
It's like the investments, they are separated from the summary.
You already received a bank transfer? It appears in the summary?

Maybe it can be done checking the report of movements of the account but I don't know what information we have, obviously the amount and time but what more? the sender cbu?
Depending on

[2019-12-07 01:24] manuargue commented on #168
I contacted Mercadopago support and they told me the API for plans and subscriptions is currently being migrated to a new architecture. That explains why these docs are missing. Also they mentioned there’s no estimated release date.
![1AEBDFF6-A5BE-464A-9517-912C29BD461A](https://user-images.githubusercontent.com/511857/70366592-f882bf00-18ca-11ea-97ea-8a89e2fa7d5b.jpeg)
![76B6C666-63A4-427F-8EF9-

[2019-12-07 11:49] manuargue commented on #168
Hi. I left you a comment in the pr with the steps for creating a customer and a card. Hope it helps!

[2019-12-14 23:15] LuKks commented on #160
Podés probar tener dos preapproval con distintos external_reference y buscar solo uno?

Lo intenté pero aparecen todos los preapprovals así que tendrías que tener cuidado con actualizarle el monto a otros, es como que no funciona el filtro aunque debería porque está documentado.

[2019-12-15 17:57] lainz commented on #160
Igual lo trabajamos una vez por mes o cuando cambian los costos, así que bajamos todo y filtramos el array nomas.

[2019-12-15 18:43] LuKks commented on #160
Yep, es lo que hacía pero idealmente evitaría hacer múltiples requests. Guardar el id lo arreglaría aunque es extraño que no funcione el search, el resto de filtros funcionan bien, es solamente la ext ref.

[2019-12-15 22:13] lainz commented on #160
Claro en realidad hago solo 1 request. Porque actualizamos todos una vez al mes nomas. En teoría porque nos volvió a funcionar el tema del pago mensual individual, asi que casi no usamos las suscripciones. Las que tenemos las seguimos manejando individualmente a mano por asi decirlo son muy pocas y no tienen el external reference, son creadas desde la UI de MercadoPago.

[2019-12-19 02:56] sanjualechuzo commented on #127
@joelibaceta  cuando decis que no esta de forma explicita significa que no tiene componentes o acciones directas.. Pero si se puede implementar si uno genera las functions en react  y/o crea su propios componentes para usar  npm mercadopago ?

[2019-12-19 22:19] LuKks commented on #167
Explained here: #127

[2019-12-19 22:22] LuKks commented on #127
Nada impide hacer un iframe con el init_point o realizar las requests correspondientes a la API.
Qué necesitás hacer exactamente?

[2019-12-27 19:34] stiagocab commented on #119
Hola buen día, ya están habilitadas las suscripciones para Colombia o México, no encuentro la documentación especifica para realizarlas, solo pagos simples

[2019-12-30 19:41] IlgMenezes opened #174 "Backend in react-native for submit cards."
There are no backend examples with react-native card token generation. Could you make one available so we don't need to use third party libraries?

[2020-01-14 04:16] bolds07 opened #176 "the api is broken"
**Describe the bug**
since few days ago ALL MY REQUEST ARE BEING REJECTED, no changes on my side... so someone in mercadopago backend did some shit and broken it

very simple and basic code
[code]

[code]

**Server (please complete the following information):**
 - NodeJS Version:  node js 8
 - Operating System: FIREBASE cloud functions

**Additional context**
this code has been working for over a

[2020-01-14 11:39] LuKks commented on #176
Try regenerating the client id/secret and using the new ones. If that doesn't works then try using directly the access_token.

I think the credentials that you are using in the code are not the same than the current ones of your MercadoPago account, anyway regenerate it sounds like a good idea.

[2020-01-14 16:21] bolds07 commented on #176
clicking at "regenerate credentials" at my dashboard DOESNT CHANGE client id nor secret... it only changes public key/acess token and i dont use them

the credentials im using in the code are 100% the same with my account they have never been changed.. im the seo, developper, owner, manager and anything else im my startup...

so i can tell 100% sure that wasnt my mistake is someone else in the oth

[2020-01-14 16:53] bolds07 commented on #176
25 errors on last 24hours... i was searching the logs the first problem was on december 19th but as it was christmas time and less costumers to my app plus im on holydays i didnt pay attention
from january 7th to now is getting more and more frequent

as i said before i work alone and make around 5k dolars a month... so you guys are costing me a lot

most of my business is automized and i never ha

[2020-01-14 16:55] LuKks commented on #176
I don't actually work for anyone, either MercadoLibre/MercadoPago.
Anyway, you are right, regenerating credentials doesn't change client id/secret.

I get your point, you don't like having a code that worked perfectly fine and suddenly stop working for some nonsense reason.

"Error occurred validating client_id" is very generic, so if you want to solve it you will need to try different codes, for

[2020-01-14 17:08] LuKks commented on #176
Related issue: https://github.com/mercadopago/DEPRECATED-sdk-php/issues/148

https://www.google.com/search?q=MercadoPago+%22Error+occurred+validating+client_id%22

[2020-01-14 17:21] LuKks commented on #176
I forgot that you can get more information about your requests and errors if you fill the form in the "Desarrolladores" section:
https://www.mercadopago.com.ar/developers/es/support
It says that it takes less than two days to get a response but they should know what is happening.

In the whiletime if you want you can test directly with `access_token` :)

[2020-01-15 14:37] bolds07 commented on #176
im using 1.3.0

if i consider: "Related issue: mercadopago/DEPRECATED-sdk-php#148" it means that mercado pago service is off 75% of the time...
i get per day around 20 orders...  and 15 errors like what i reported... so it isnt just an unreliable service as it is more probable to be down than on so i really prefer to believe is not "micro unavaibilities"

i changed to access_token so will wait a f

[2020-01-15 15:02] bolds07 commented on #176
also in this topic... on mercadopago IPN dashboard there are 3 types of request to activate.

currently "payment" type is handled by this api... any other request using `mercadopago.ipn.manage(req)` will be ignored ( i mean no response after 60 secs)

[2020-01-15 15:16] bolds07 commented on #176
also in the buglist when the payment is rejected or canceled and i query the ipn API. it replies me normally BUT the external_reference is CHANGED

my external_reference contains '_' (underscore) and on all rejections (and only at them) when i query the api to verify is the ipn request is legit and get the details the underscore has been replaced with a space

[2020-01-15 22:15] LuKks commented on #176
I don't think so, you are experimenting 75% offline so you mean that across everyone we experiment 75% offline? That can't be unnoticed, so I prefer to think that the problem can be something related to your case (code using client id/secret + high orders/traffic).
For example, the README says that using client id/secret generates an `access_token` anyway, maybe there is a limit and you are hittin

[2020-01-16 09:32] bolds07 commented on #176
updating on this.

1- changing to access_token solved the major issue i was having

2- on the ipn topics problem my code is basicaly:

[code]

so the only timeout that can be reached is in case the ipn.manage(req) doesn't get to resolve nor to reject...

case the topic == paymennt i pretty much get no problem, case == chargeback i always get a very fast error saying something like "invalid topic"

[2020-01-17 05:48] LuKks commented on #176
:)

Your `updateDB` function probably threats the `mpOrder` object always as a payment but in case of merchant_order is a different object, that is the problem. You should check to only manage the payment topic.
The chargeback is not in the available topics for `mercadopago.ipn.manage`, that's why you get a fast "invalid topic" in that case.

Sorry but that is not very reproducible (ideally just r

[2020-01-25 15:05] teovillanueva opened #179 "payment methods inference error & Invalid credentials"
Im trying to make a payment with a card token. Im using the code from [here](https://www.mercadopago.com.ar/developers/es/guides/payments/api/receiving-payment-by-card/).
There are two problems, if i use the exact code this error appears.
code:
[code]
error:
[code]

and if i the payment_method_id and issuer id this error appears
code :
[code]
error:
[code]

In my system users can create their stor

[2020-01-26 22:38] emilioastarita opened #180 "Búsqueda con payments.search por external_reference"
Las búsquedas por external_reference de nuevos pagos me estan devolviendo un empty array (hasta ayer siempre las busqué así)

Ej:
[code]
Devuelve:

[code]

Esa misma referencia buscada en el panel de MP:

![image](https://user-images.githubusercontent.com/281727/73142955-14a51000-4073-11ea-851b-d0e204bae6ea.png)

Si la misma búsqueda la hago por id:

[code]

El pago aparece perfecto:

[code]

No e

[2020-01-27 11:57] emilioastarita commented on #180
Hoy ya parece estar funcionando normalmente

[2020-01-27 11:57] #180 closed

[2020-01-28 23:38] Stiveknx commented on #176
If with 'mercadopago.ipn.manage'
You're getting an invalid topic.

Probably is the same issue as I do.

In my IPN url I've received the following `res.query`:
`
{ action: 'payment.created',
  api_version: 'v1',
  data: { id: '23609047' },
  date_created: '2020-01-28T23:01:34Z',
  id: 5567240842,
  live_mode: false,
  type: 'payment',
  user_id: '491614503' }
`

Well, analising https://github.com/m

[2020-02-04 02:58] tcaraccia opened #181 "IFrame support"
Hay algun ejemplo de uso en un iframe ?
Yo lo intente en vue y react y solamente me da el "Oh, no, algo anduvo mal"
[code]

[2020-02-19 18:48] guillermoreyesv commented on #167
I found in the code a parameter that by default is True.

Attached code capture to change.
**This is only for testing in localhost**
![ssl](https://user-images.githubusercontent.com/38173795/74864883-dae3c400-5315-11ea-92df-74d7a55af82e.png)

[2020-02-21 23:30] o-alquimista opened #183 "Question about the Node SDK and the mercadopago.js library"
Is this SDK providing the same functionality you get by inserting the following script tag in your HTML?
[code]

The documentation [here](https://www.mercadopago.com.br/developers/pt/guides/payments/api/receiving-payment-by-card) does not mention if I could replace that approach with something that keeps separation of concern, such as using the npm package provided in this SDK.

__________________

[2020-02-22 03:25] o-alquimista opened #184 "Deprecation warning: request-etag > request"
The `mercadopago` package depends on `request-etag`, which depends on `request`. Request is no longer maintained, and it seems the request-etag package hasn't been updated in a couple of years.

I've created [an issue](https://github.com/Belema/request-etag/issues/4) there asking about their plans now that `request` is deprecated. Depending on their answer, we may need to find a replacement for it

[2020-02-22 03:39] o-alquimista commented on #183
I already got the answer I was looking for. Closing.

[2020-02-22 03:39] #183 closed

[2020-02-22 15:56] o-alquimista opened #185 "Warning from dependency ajv"
**The output**:

[code]

_____________________

**To reproduce:**

I will describe all the steps I've taken so far to install and configure `mercadopago`.

1. With the package installed as a dependency of my project, I imported the module and created the initial configuration on my `app.js` file.
[code]
2. When compiling the assets with Webpack Encore, a couple of errors were found.
[code]
This ca

[2020-02-22 23:31] o-alquimista commented on #183
I just realized this SDK is using the access token, which is the backend key. So the answer is probably that this SDK is meant for servers running Node.

[2020-02-23 07:15] o-alquimista commented on #185
If it's true that this SDK is not an alternative distribution of mercadopago.js used in the frontend for tokenization, then this issue is invalid. I am not running a Node web server. I might have gotten things wrong.

[2020-02-28 21:40] #185 closed

[2020-03-04 15:05] thiagomontini commented on #174
@IlgMenezes were you able to use createToken on the backend?
I need to do a checkout with paid market but with react native form (without webview)

[2020-03-04 21:17] Stunext commented on #117
Como pudiste hacer la integración de react? Pudiste implementar el modal? Podrías compartir tu componente? Lo que yo logre fue crear la preferencia via cURL (El SDK de php en mi caso parece no servir). Luego tomar la _entry_point_ y que el usuario termine el pago en otra pestaña. Luego mi idea es recibir la confirmación de pago vía Webhook. Pero la otra pestaña, que carga la propia pagina de merca

[2020-03-07 22:37] KaySoohyun opened #186 "Falla en instalación en Angular 8"
**Describe the bug**
Falla la compilación al importar el modulo.

**To Reproduce**
Para reproducir el error primero hay que tener un proyecto con angular instalado.
1- `npm install mercadopago`
2- incluir la siguiente linea en el componente deseado: `const mercadopago = require ('mercadopago');`
3- `ng serve`
4- ver el error en la terminal

**Error**
Los errores que muestra son los siguiente:

WAR

[2020-03-13 17:24] mchristian1993 commented on #179
Good afternoon I have the same problem that you were able to solve?

[2020-03-13 19:06] cdssanchez commented on #127
Hola me surge el mismo problema, necesito integrar para realizar un spit de pago..pero no logro hacerlo funcionar.

[2020-03-13 19:43] dungeon2567 opened #187 "Multitenancy"
i'm creating a ecommerce and need to use mercadopago's api in a multi tenancy way but

mercadopago.configure({
    access_token: 'ACCESS_TOKEN'
});

is a singleton. How to use one configuration per tenant?

[2020-03-14 14:14] danilockthar commented on #186
Mismo error intentando implementar en React con NextJS. Primero recibi ese error junto con la falta de net, fs, y tls. Despues de dar config empty a cada uno sigo viendo el mismo error que tenes de  :
WARNING in ./node_modules/ajv/lib/async.js 96:20-33
Critical dependency: the request of a dependency is an expression

WARNING in ./node_modules/ajv/lib/async.js 119:15-28
Critical dependency: the re

[2020-03-17 18:08] gastsail opened #188 "Una de las partes con la que intentás hacer el pago es de prueba."
Marea un poco la documentación, pero basicamente me clone el repo, corrí el servidor, cree un usuario de prueba, hice el login a mercadopago con ese usuario y cuando trato de pagar con

http://localhost:8080/checkout-buttons/basic-preference/button

me salta

(lo corri en una pestaña incognito para prevenir estar logeado con mi cuenta original)

en el archivo config.js puse mi **secret_key** , **c

[2020-03-18 17:56] gastsail commented on #188
Aca encontre lo que necesitaba

https://www.mercadopago.com.ar/developers/es/reference/payments/resource/

[2020-03-18 17:57] #188 closed

[2020-03-22 07:25] bolds07 opened #189 "MercadoPagoError: Unknown Error"
**Describe the bug**
Out of nowhere i started having some errors for creating payment preferences... there wasn't ABSOLUTELLY any change on my side so i guess there is some kind of bad maintance or update on pagseguro backeend

this is an intermitant error, happening on 5% of the requests

**To Reproduce**
[code]

**Screenshots**
[code]
**Server (please complete the following information):**
 - No

[2020-03-25 16:41] leandroz commented on #186
Es para usar en Node.js, no en el browser.

[2020-03-26 15:00] lhmiranda commented on #126
Any solutions to this? Almost a year later and I'm getting the exact same error: my configured IPN URL is being called with { data.id, type } query parameters and I'm not receiving payments, just merchant_order notifications.